﻿@model HR.Web.Controllers.LayoutController.LayOutVM

@{
    int month = Convert.ToInt16(DateTime.Now.Month.ToString());
    int year = Convert.ToInt16(DateTime.Now.Year.ToString());
}

@if (Model.RoleCode == UTILITY.ROLE_EMPLOYEE)
{
    <ul class="list-unstyled clearfix nav-list mb15">
        <li id="li_dashboard">
            <a class="ajaxCss" href="@Url.Content("~/Dashboard/Index")">
                <i class="ion ion-monitor" aria-hidden="true"></i>&nbsp;&nbsp;Dashboard
            </a>            
        </li>
@if (Model.IsManager)
{


        <li id="li_travelclaim">
            <a class="ajaxCss" href="@Url.Content("~/Payroll/TravelClaimList")">
                <i class="ion ion-plane" aria-hidden="true"></i>&nbsp;&nbsp;Travel Claim
            </a>
        </li>

        <li id="li_emprequestleave">
            <a class="ajaxCss" href="@Url.Content("~/Leave/EmployeeRequestFrom")">
                <i class="ion ion-calculator" aria-hidden="true"></i>&nbsp;&nbsp;Leave Application
            </a>
        </li>
}
else
{


        <li id="li_emprequestleave">
            <a class="ajaxCss" href="@Url.Content("~/Leave/EmployeeRequestFrom")">
                <i class="ion ion-calculator" aria-hidden="true"></i>&nbsp;&nbsp;Leave Application
            </a>
        </li>

        <li id="li_travelclaim">
            <a class="ajaxCss" href="@Url.Content("~/Payroll/TravelClaimList")">
                <i class="ion ion-plane" aria-hidden="true"></i>&nbsp;&nbsp;Travel Claim
            </a>
        </li>
}

        @if (Model.IsManager)
        {
            <li id="li_grantleaveform">
                <a class="ajaxCss" href="@Url.Content("~/Leave/GrantLeaveFormList")">
                    <i class="ion ion-android-person" aria-hidden="true"></i>&nbsp;&nbsp;Grant Leave Form
                </a>
            </li>
        }
        <li id="li_empadd">
            <a class="ajaxCss" href="@Url.Content("~/Leave/ViewLeavesList")">
                <i class="ion ion-android-calendar" aria-hidden="true"></i>&nbsp;&nbsp;View Leaves
            </a>
        </li>

        <li id="li_holidaylist">
            <a class="ajaxCss" href="@Url.Content("~/Leave/HolidayList")">
            <i class="ion ion-paper-airplane" aria-hidden="true"></i>&nbsp;&nbsp;Holiday List</a>
        </li>
       
        
       
        
    </ul>
}
else if (Model.RoleCode == UTILITY.ROLE_ADMIN)
{

    <ul class="list-unstyled clearfix nav-list mb15">
        <li id="li_Dashboard">
            @*<a class="ajaxCss" href="@Url.Content("~/Dashboard/Index")">
                <i class="ion ion-monitor"></i>
                <span class="text">Dashboard</span>
                <i class="arrow ion-chevron-left"></i>
            </a>*@
            @*<ul class="inner-drop list-unstyled">
                <li>
                    <a class="ajaxCss" href="@Url.Content("~/Dashboard/LeaveTransaction?Month="+month+"&Year="+year)">Leave Transaction Reports</a>
                </li>
            </ul>*@
          
               
                    <a class="ajaxCss" href="@Url.Content("~/Dashboard/Index")">
                        <i class="ion ion-monitor" aria-hidden="true"></i>&nbsp;&nbsp;&nbsp;&nbsp;Dashboard
                    </a>
              
</li>
        <li id="li_Master">
            <a href="javascript:;">
                <i class="ion ion-android-options"></i>
                <span class="text">Master</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_empdesignation"><a class="ajaxCss" href="@Url.Content("~/Config/EmployeeDesignationList")">Employee Designation</a></li>
                <li id="li_emptype"><a class="ajaxCss" href="@Url.Content("~/Config/EmployeeTypeList")">Employee Type</a></li>
                <li id="li_empdepartment"><a class="ajaxCss" href="@Url.Content("~/Config/EmployeeDepartmentList")">Employee Department</a></li>
                <li id="li_empstatus"><a class="ajaxCss" href="@Url.Content("~/Config/EmployeeStatusList")">Employee Status</a></li>
                <li id="li_maritalstatus"><a class="ajaxCss" href="@Url.Content("~/Config/MaritalStatusList")">Marital Status</a></li>
                @*<li id="li_leave_leave"><a href="@Url.Content("~/Leave/Leave")">Leave</a></li>*@
                <li id="li_leave1"><a class="ajaxCss" href="@Url.Content("~/Config/LeaveList")">Leave Types</a></li>
                <li id="li_paymenttype"><a class="ajaxCss" href="@Url.Content("~/Config/PaymentTypeList")">Payment Mode</a></li>
                <li id="li_travelclaim"><a class="ajaxCss" href="@Url.Content("~/Config/TravelClaimList")">Travel Claim</a></li>
                <li id="li_currency"><a class="ajaxCss" href="@Url.Content("~/Config/CurrencyList")">Currencies</a></li>
            </ul>
        </li>

        <li id="li_Employee">
            <a href="javascript:;">
                <i class="ion ion-man"></i>
                <span class="text">Employee</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_empdir"><a class="ajaxCss" href="@Url.Content("~/employee/employeedirectory")">Directory</a></li>
                @*<li id="li_empadd"><a href="@Url.Content("~/Employee/Add")">Info</a></li>*@
            </ul>
        </li>

        <li id="li_Payroll">
            <a href="javascript:;">
                <i class="ion ion-calendar"></i>
                <span class="text">PayRoll</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                @*<li><a href="#">Employee Pay Slips</a></li>*@
                    <li id="li_taxassessment"><a class="ajaxCss" href="@Url.Content("~/PayrollBatch/TaxAssessment?year="+year)">Tax Calculations</a></li>
                    <li id="li_updatepay"><a class="ajaxCss" href="@Url.Content("~/PayrollBatch/UpdateVariablePay")">Update Variable Pay</a></li>
                    <li id="li_generatepay"><a class="ajaxCss" href="@Url.Content("~/PayrollBatch/ProcessPayroll?currentmonth="+month+"&currentyear="+year)">Generate Pay Slips</a></li>
            </ul>
        </li>
        <li id="li_PayRollConfig">
            <a href="javascript:;">
                <i class="ion ion-calendar"></i>
                <span class="text">Payroll Setup</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_ContributionRegisterList"><a class="ajaxCss" href="@Url.Content("~/PayRoll/ContributionRegisterList")">Salary Components</a></li>
                <li id="li_SalaryStructureHeaderList"><a class="ajaxCss" href='@Url.Content("~/PayRoll/SalaryStructureHeaderList")'>Salary Structure List</a></li>
            </ul>
        </li>
        <li id="li_Leave">
            <a href="javascript:;">
                <i class="ion ion-ionic"></i>
                <span class="text">Leave</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_appliedleavelist"><a class="ajaxCss" href="@Url.Content("~/Leave/AppliedLeaveList")">Applied Leave List</a></li>
                <li id="li_Leavepolicy"><a class="ajaxCss" href="@Url.Content("~/Leave/Leave")">Set Leave Policy</a></li>
                <li id="li_holidaylist"><a class="ajaxCss" href="@Url.Content("~/Leave/HolidayList")">Set Holidays</a></li>
              
                @*<li id="li_empadd"><a class="ajaxCss" href="@Url.Content("~/Leave/ViewLeavesList")">View Leaves</a></li>*@
                @*<li id="li_emprequestleave"><a class="ajaxCss" href="@Url.Content("~/Leave/EmployeeRequestFrom")">Leave Request</a></li>*@
                @*<li id="li_grantleaveform"><a class="ajaxCss" href="@Url.Content("~/Leave/GrantLeaveFormList")">Grant Leave Form</a></li>*@
                <li id="li_weekendpolicy"><a class="ajaxCss" href="@Url.Content("~/Leave/WeekendPolicyList")">Set Weekend Policy</a></li>
                <li id="li_grantleaveform">
                    <a class="ajaxCss" href="@Url.Content("~/Leave/GrantLeaveFormList")">
                     Grant Leave Form
                    </a>
                </li>
            </ul>
        </li>

        <li id="li_claims">
            <a href="javascript:;">
                <i class="ion ion-plane"></i>
                <span class="text">Claims</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_TravelClaim"><a class="ajaxCss" href="@Url.Content("~/PayRoll/ProcessTravelClaim")">Submitted Claims List</a></li>
                <li id="li_Approvedlist"><a class="ajaxCss" href="@Url.Content("~/PayRoll/ApprovedClaimsList")">Approved Claims List</a></li>
            </ul>
        </li>

        @*<li id="li_yearlyreports">
            <a href="javascript:;">
                <i class="ion ion-document"></i>
                <span class="text">Yearly Reports</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_Yearlyssc"><a class="ajaxCss" href="@Url.Content("~/YearlyReports/YearlyReportsSSC")">Monthly SSF</a></li>
                <li id="li_yearly1"><a class="ajaxCss" href="@Url.Content("~/YearlyReports/YearlyReportsOne")">Monthly PND1</a></li>
                <li id="li_Yearly2"><a class="ajaxCss" href="@Url.Content("~/YearlyReports/YearlyReportsTwo")">Yearly PND1-K</a></li>
                <li id="li_yearlytds"><a class="ajaxCss" href="@Url.Content("~/YearlyReports/YearlyReportsTDS")">Yearly WithholdingTax</a></li>
            </ul>
        </li>*@

    </ul>
}
else if (Model.RoleCode == UTILITY.ROLE_SUPERADMIN)
{
    <ul class="list-unstyled clearfix nav-list mb15">
        <li id="li_Dashboard">
            @*<a class="ajaxCss" href="@Url.Content("~/Dashboard/Index")">
                <i class="ion ion-monitor"></i>
                <span class="text">Dashboard</span>
                <i class="arrow ion-chevron-left"></i>
            </a>*@
            @*<ul class="inner-drop list-unstyled">
                <li>
                    <a class="ajaxCss" href="@Url.Content("~/Dashboard/LeaveTransaction?Month="+month+"&Year="+year)">Leave Transaction Reports</a>
                </li>
            </ul>*@
            <a class="ajaxCss" href="@Url.Content("~/Dashboard/Index")">
                <i class="ion ion-monitor" aria-hidden="true"></i>
                &nbsp;&nbsp;&nbsp;&nbsp;Dashboard
            </a>

        </li>
        @*<li id="li_Payroll">
            <a href="javascript:;">
                <i class="ion ion-calendar"></i>
                <span class="text">PayRoll</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li><a href="#">Employee Payslips</a></li>
                <li><a href="#">Payslips Batches</a></li>
            </ul>
        </li>
        <li id="li_PayRollConfig">
            <a href="javascript:;">
                <i class="ion ion-calendar"></i>
                <span class="text">Payroll Setup</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_ContributionRegisterList"><a class="ajaxCss" href="@Url.Content("~/PayRoll/ContributionRegisterList")">Salary Components</a></li>
                <li id="li_SalaryStructureHeaderList">
                    <a class="ajaxCss" href='@Url.Content("~/PayRoll/SalaryStructureHeaderList")'>Salary Structures List</a>
                </li>
            </ul>
        </li>
        <li id="li_Leave">
            <a href="javascript:;">
                <i class="ion ion-ionic"></i>
                <span class="text">Leave</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_appliedleavelist"><a href="@Url.Content("~/Leave/AppliedLeaveList")">Applied Leave List</a></li>
                <li id="li_empdir"><a class="ajaxCss" href="@Url.Content("~/Leave/LeaveList")">Set Leave Policy</a></li>
                <li id="li_holidaylist"><a class="ajaxCss" href="@Url.Content("~/Leave/HolidayList")">Set Holidays</a></li>
               
                @*<li id="li_empadd"><a class="ajaxCss" href="@Url.Content("~/Leave/ViewLeavesList")">View Leaves</a></li>*@
                @*<li id="li_emprequestleave"><a href="@Url.Content("~/Leave/EmployeeRequestFrom")">Leave Request</a></li>*@
                @*<li id="li_grantleaveform"><a class="ajaxCss" href="@Url.Content("~/Leave/GrantLeaveFormList")">Grant Leave Form</a></li>*@
            @*</ul>
        </li>*@
        <li id="li_Admin">
            <a href="javascript:;">
                <i class="ion ion-monitor"></i>
                <span class="text">Administration</span>
                <i class="arrow ion-chevron-left"></i>
            </a>
            <ul class="inner-drop list-unstyled">
                <li id="li_company"><a class="ajaxCss" href="@Url.Content("~/Administration/Company")">Company</a></li>

            </ul>
        </li>
    </ul>
}
