﻿@using Newtonsoft.Json;
@model HR.Web.ViewModels.EmployeeDashBoardVm
@{
    ViewBag.Title = "employeedashboard";
}
@{
    var baseObj = new BaseController();
}﻿

@section Styles{
    @*<link rel="stylesheet" href="https://rendro.github.io/easy-pie-chart/stylesheets/styles.css" />
        <link rel="stylesheet" href="https://rendro.github.io/easy-pie-chart/stylesheets/pygment_trac.css" />*@
    <link rel="stylesheet" href="https://rendro.github.io/easy-pie-chart/stylesheets/jquery.easy-pie-chart.css" />


    <style type="text/css">
        th {
            background-color: #3f51b5;
            color: white;
        }

        .easypiechart {
            text-align: center;
            position: relative;
        }

            .easypiechart > .data {
                position: absolute;
                -webkit-transform: translate(-50%, -49%);
                -ms-transform: translate(-50%, -49%);
                -o-transform: translate(-50%, -49%);
                transform: translate(-50%, -49%);
                top: 49%;
                left: 50%;
            }

        .width {
            width: 60%;
        }

        .panel-default > span {
            margin-left: 10px;
            line-height: 2;
            margin-bottom: 0;
            padding: 15px;
        }
        small { 
    font-size: smaller;
}
        .page-dashboard .mini-box .icon {
            margin-top: -15px;
            font-size: 43.2px;
        }
        .size > li > a {
    padding: 6px 10px;
}
    </style>
}
<div class="page page-dashboard">
    <div class="panel panel-default panel-heading">
    
            <span>
                @Model.EmployeeName <a class="ajaxCss" href="@Url.Content("~/Employee/Add?EmployeeId=" + Model.EmployeeId)" style="text-decoration:underline"><small>View Profile</small></a>
                <span style="color:#ff0000">@ViewData["Alert"]</span>
            </span>
            @*<div class="dropdown">
                <button type="button" class="text-light mb0 pull-right btn btn-primary" data-toggle="dropdown">
                    <i class="fa fa-download"></i><b>Download Pay Slip</b>
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Payslip Download</a>
                    <a class="dropdown-item" href="#">Payslip Download</a>
                </div>
            </div>*@
        
            <div class="dropdown pull-right">
                <button class="text-light mb0 btn btn-primary" type="button" data-toggle="dropdown">
                    <i class="fa fa-download"></i><b>Download</b>
                </button>
                <ul class="dropdown-menu size">
                    @*<li><a href="@Url.Content("~/Images/samplepayslip.pdf")" download="samplepayslip">Download PaySlip</a></li>*@
                   <li><a href="#" onclick="DownloadPaySlip(@Model.EmployeeId)">Download PaySlip</a></li>
                    <li><a href="#" onclick="GenerateTAVSummaryByEmployeeReportPDF(@Model.EmployeeId)">Download W/H Tax form</a></li>
                </ul>
            </div>
    
       
       
        @*<h4 class="text-light mb0 pull-right"><b class="mt0 mb0 left"><a style="text-decoration:underline" target="_blank" href="@Url.Content("~/Uploads/Sample_PaySlip.pdf")">Download Pay Slip</a></b></h4>*@
        @*<button class="text-light mb0 pull-right btn btn-primary" type="button" target="_self" onclick="location.href='@Url.Content("~/Images/samplepayslip.pdf")'" download="samplepayslip"> <i class="fa fa-download"></i><b>Download Pay Slip</b></button>*@
       
    </div>

    
    <br />
    <div class="">
        <div class="row css10">

            <div class="col-md-4">
                <div id="CasualLeavesContainer"></div>
            </div>
            <div class="col-md-4">
                <div id="paidLeavesContainer"></div>
            </div>
            <div class="col-md-4">
                <div id="SickLeavesContainer"></div>
            </div>
        </div>

        @*<div class="row">
            <div class="col-md-3">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="piedemo clearfix">
                        <div class="chart">
                            <div class="percentage easyPieChart" data-percent="@Model.plPercent" style="width: 120px; height: 120px; line-height: 125px;"><span>@Model.plPercent.ToString("0.00")</span>%<canvas width="110" height="110"></canvas></div>
                            <div class="label" style="margin-left:35px;">PL %</div>
                        </div>
                        <div class="chart">
                            <div class="percentage easyPieChart" data-percent="@Model.clPercent" style="width: 120px; height: 120px; line-height: 125px;"><span>@Model.clPercent.ToString("0.00")</span>%<canvas width="110" height="110"></canvas></div>
                            <div class="label" style="margin-left:35px;">CL %</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0"><b class="mt0 mb0 left">@Model.totalSLs.ToString("#0.0")<span>&nbsp;&nbsp;in this month</span></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left"><span style="font-weight:bold;">Earned Sick Leaves</span></p>
                    </div>
                </div>

            </div>
            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0"><b class="mt0 mb0 left">@Model.totalPLs.ToString("#0.0")<span>&nbsp;&nbsp;in this year</span></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left"><span style="font-weight:bold;">Total Paid Leaves</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                <h4 class="text-light mb0"><b class="mt0 mb0 left">@Model.totalCLs.ToString("#0.0")<span>&nbsp;&nbsp;in this year</span></b></h4>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer clearfix panel-footer-sm panel-footer-primary">
                        <p class="mt0 mb0 left"><span style="font-weight:bold;">Total Casual Leaves</span></p>
                    </div>
                </div>
            </div>
            <div class="col-md-2 col-sm-4">
                <div class="panel panel-default mb20 mini-box panel-hovered">
                    <div class="panel-body">
                        <div class="clearfix">
                            <div class="info left">
                                @*<h4 class="mt0 text-pink text-bold">10K+</h4>*@
        @*<h4 class="text-light mb0"><b class="mt0 mb0 left"><a style="text-decoration:underline" target="_blank" href="@Url.Content("~/Uploads/Sample_PaySlip.pdf")">Download Pay Slip</a></b></h4>
                                </div>
                                <div class="right ion ion-ios-cloud-download-outline icon"></div>
                            </div>
                        </div>
                        <div class="panel-footer clearfix panel-footer-sm panel-footer-pink">
                            <p class="mt0 mb0 left"><span style="font-weight:bold;">Download Previous Pay Slips</span></p>
                           <span class="sparkline right" data-type="bar" data-barcolor="#fff" data-width="1.15em" data-height="1.15em"><canvas style="display: inline-block; width: 29px; height: 14px; vertical-align: top;" width="29" height="14"></canvas></span>
                        </div>
                    </div>
                </div>
            </div>*@
        <div class="row css10">
            <div class="col-md-12">
                <div class="box">
                    <div class="">
                        <div class="box-header">
                            <h4> Employee Leave Information</h4>
                           
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    <table class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <th class="nowrap">Date Of Application</th>
                                                <th>From Date</th>
                                                <th>To Date</th>
                                                <th>Total Days</th>
                                                <th style="white-space:nowrap"> Type Of Leave</th>
                                                <th>Reason</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            @if (Model.empLeaveDashBoard != null)
                                            {
                                                for (var i = 0; i < Model.empLeaveDashBoard.Count; i++)
                                                {
                                                    <tr>
                                                        <td>@Model.empLeaveDashBoard[i].ApplyDate.ToShortDateString()</td>
                                                        <td>@Model.empLeaveDashBoard[i].FromDate.ToShortDateString()</td>
                                                        <td>@Model.empLeaveDashBoard[i].ToDate.ToShortDateString()</td>
                                                        <td>@Model.empLeaveDashBoard[i].Days</td>
                                                        <td>@Model.empLeaveDashBoard[i].LeaveTypeDesc</td>
                                                        <td>@Model.empLeaveDashBoard[i].Reason</td>
                                                        <td>
                                                            @if (Model.empLeaveDashBoard[i].Status == UTILITY.LEAVEAPPROVED)
                                                            {
                                                                <label class="control-label">
                                                                    <span class="label label-success" style="font-weight:bold;font-size:12px;color:white;">@Model.empLeaveDashBoard.ElementAt(i).Status</span>
                                                                </label>

                                                            }
                                                            else if (Model.empLeaveDashBoard[i].Status == UTILITY.LEAVEREJECTED)
                                                            {
                                                                <label class="control-label">
                                                                    <span class="label label-danger" style="font-weight:bold;font-size:12px;color:white;">@Model.empLeaveDashBoard.ElementAt(i).Status</span>
                                                                </label>
                                                            }
                                                            else if (Model.empLeaveDashBoard[i].Status == UTILITY.LEAVECANCELLED)
                                                            {
                                                                <label class="control-label">
                                                                    <span class="label label-primary" style="font-weight:bold;font-size:12px;color:white;">@Model.empLeaveDashBoard.ElementAt(i).Status</span>
                                                                </label>
                                                            }
                                                            else if (string.IsNullOrWhiteSpace(Model.empLeaveDashBoard[i].Status))
                                                            {
                                                                <label class="control-label">
                                                                    <span class="label label-info" style="font-weight:bold;font-size:12px;color:white;">Pending</span>
                                                                </label>
                                                            }
                                                            else if (Model.empLeaveDashBoard[i].Status == UTILITY.LEAVEPENDING)
                                                            {
                                                                <label class="control-label">
                                                                    <span class="label label-info" style="font-weight:bold;font-size:12px;color:white;">@Model.empLeaveDashBoard.ElementAt(i).Status</span>
                                                                </label>
                                                            }
                                                        </td>
                                                    </tr>
                                                }
                                            }

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 pull-right" style="color:#000000;font-family:bold;text-align:center;">
                                    @*<h3>@ViewData["message"]</h3>*@
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
@section Scripts{

    <script type="text/javascript">
        //$(function () {
        //    $('.percentage').easyPieChart({
        //        barColor: '#CDDC39',
        //        trackColor: '#3f51b5',
        //        scaleColor: '#3f51b5',
        //        lineCap: 'round',
        //        scaleLength: 8,
        //        size: 120,
        //        lineWidth: 4,
        //        animate: {
        //            duration: 1000,
        //            enabled: true
        //        },
        //    });
        //    //initCharts();


        //    $('#li_dashboard').addClass('active');

        //});

        //var initCharts = function () {
        //    var charts = $('.percentage');
        //    charts.easyPieChart({
        //        animate: 1000,
        //        onStep: function (value) {
        //            this.$el.find('span').text(~~value);
        //        }
        //    });
        //    $('.updatePieCharts').on('click', function (e) {
        //        e.preventDefault();
        //        charts.each(function () {
        //            $(this).data('easyPieChart').update(Math.floor(100 * Math.random()));
        //        });
        //    });
        //}
        var casualleaves = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
        debugger;

        Highcharts.chart('CasualLeavesContainer', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },
                    "colors": [
               "#2f6e91",
               "#ff9332",
               "#6a2329",
               "#092f46",
               "#d95c1f",
               "#33765e",
               "#845285",
               "#70bde8",
               "#12484f",
               "#4d3d5a"],

                    title: {
                        text: 'Total Casual Leaves Per Year :' + " " + casualleaves.totalCLs
                    },
                    tooltip: {
                        formatter: function () {
                            return '<b>' + this.series.name + '</b><br/>' + '<b>' + this.point.name + '</b> is <b>' + this.point.y+ '</b>';
                        }
                    },

                    plotOptions: {
                        pie: {
                            allowPointSelect: true,
                            cursor: 'pointer',
                            dataLabels: {
                                enabled: true,
                                format: '<b>{point.name}</b>: {point.y}',

                            }
                        }
                    },
            series: [{
                name: 'Casual Leaves',
                colorByPoint: true,
                data: [{ name: 'Balance', y: casualleaves.remainingcls }, { name: 'Applied', y: casualleaves.currentcls }]
            }]
        });
        var paidleaves = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
        debugger;

        Highcharts.chart('paidLeavesContainer', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },
            "colors": [
       "#2f6e91",
       "#ff9332",
       "#6a2329",
       "#092f46",
       "#d95c1f",
       "#33765e",
       "#845285",
       "#70bde8",
       "#12484f",
       "#4d3d5a"],

            title: {
                text: 'Total Paid Leaves Per Year :' + " " + paidleaves.totalPLs
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' + '<b>' + this.point.name + '</b> is <b>' + this.point.y + '</b>';
                }
            },

            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y}',

                    }
                }
            },
            series: [{
                name: 'Paid Leaves',
                colorByPoint: true,
                data: [{ name: 'Balance', y: paidleaves.remainingpls }, { name: 'Applied', y: paidleaves.currentpls }]
            }]
        });
        var SickLeaves = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model))');
        debugger;

        Highcharts.chart('SickLeavesContainer', {
            chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false,
                type: 'pie',
            },
            "colors": [
       "#2f6e91",
       "#ff9332",
       "#6a2329",
       "#092f46",
       "#d95c1f",
       "#33765e",
       "#845285",
       "#70bde8",
       "#12484f",
       "#4d3d5a"],

            title: {
                text: 'Total Sick Leaves Per Year :' + " " + SickLeaves.totalSLs
            },
            tooltip: {
                formatter: function () {
                    return '<b>' + this.series.name + '</b><br/>' + '<b>' + this.point.name + '</b> is <b>' + this.point.y + '</b>';
                }
            },

            plotOptions: {
                pie: {
                    allowPointSelect: true,
                    cursor: 'pointer',
                    dataLabels: {
                        enabled: true,
                        format: '<b>{point.name}</b>: {point.y} ',

                    }
                }
            },
            series: [{
                name: 'Sick Leaves',
                colorByPoint: true,
                data: [{ name: 'Balance', y: SickLeaves.remainingsls }, { name: 'Applied', y: SickLeaves.currentsls }]
            }]
        });

        $(function () {
            $('#li_EmpProfile').addClass('active');
        });

        function DownloadPaySlip(empid) {
            //var date = new Date();
            //var month = date.getMonth();
            //var year = date.getFullYear();
            location.href = '@Url.Content("~/YearlyReports/DownloadEmployeeLatestPaySlip")' + '?empid=' + empid;
        }
        function GenerateTAVSummaryByEmployeeReportPDF(empid) {
            //var date = new Date();
            //var year = date.getFullYear();
            location.href = '@Url.Content("~/YearlyReports/PrintTAVSummaryByEmployeeReportForEmployee")' + '?empId=' + empid;
        }
    </script>
}
