﻿@model HR.Web.Models.User
@{
    ViewBag.Title = "Login";
   
    Layout = null;
}
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="description" content="Materia - Admin Template">
    <meta name="keywords" content="materia, webapp, admin, dashboard, template, ui">
    <meta name="author" content="solutionportal">
    <!-- <base href="/"> -->

    <title>HR</title>

    <!-- Icons -->
    <script src="@Url.Content("~/Scripts/Core/sitescript.js")"></script>
    <link href="@Url.Content("~/Css/ionicons.min.css")" rel="stylesheet" />
    <link rel="stylesheet" href="@Url.Content("~/Css/font-awesome-4.7.0/css/font-awesome.css")">

    <!-- Plugins -->
    <link href="@Url.Content("~/Css/waves.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/perfect-scrollbar.css")" rel="stylesheet" />

    <!-- Css/Less Stylesheets -->
    <link href="@Url.Content("~/Css/lib/bootstrap/dist/css/bootstrap.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/main.min.css")" rel="stylesheet" />
    <link href="@Url.Content("~/Css/sitecss.css")" rel="stylesheet" />
    <style type="text/css">
        .md-input-container .md-input {
            display: block;
            width: 100%;
            background: none;
            padding-top: 2px;
            padding-bottom: 1px;
            padding-left: 2px;
            padding-right: 2px;
            border-width: 0 0 1px 0;
            line-height: 26px;
            -ms-flex-preferred-size: 26px;
            border-radius: 0;
            transition: .25s;
            -webkit-transition: .25s;
            margin-top: 30px;
            border-color: #efefef;
            font-weight: bold;
            font-size: 15px;
        }
    </style>
</head>
<body id="app" class="app off-canvas body-full">
    <!-- main-container -->
    <div class="main-container clearfix">
        <!-- content-here -->
        <div class="content-container" id="content">
            <div class="page page-auth">
                <div class="auth-container">

                    <div class="form-head mb20">
                        <h1 class="site-logo h2 mb5 mt5 text-center text-uppercase text-bold"><a href="#">Login-HR</a></h1>
                       
                        
                        @*<h5 class="text-normal h5 text-center">Sign In to Dashboard</h5>*@
                    </div>

                    <div class="form-container">
                      
                        @using (Html.BeginForm("Login", "Account", FormMethod.Post, new { id = "frmLogin", name = "frmLogin" }))
                        {
                            <div class="md-input-container">
                                @Html.TextBoxFor(x => x.UserName, new { @class = "md-input input-sm" })
                                <label>Email Id</label>
                            </div>

                            <div class="md-input-container">
                                @Html.PasswordFor(x => x.Password, new { @class = "md-input input-sm" })
                                <label>Password</label>
                            </div>

                            @*<div class="clearfix">
                                <div class="ui-checkbox ui-checkbox-primary right">
                                    <label>
                                        <input type="checkbox">
                                        <span>Remember me</span>
                                    </label>
                                </div>
                            </div>*@
                            @*<div class="clearfix mb15"><a href="forget-pass.html" class="text-success small">Forget your password?</a></div>*@
                            <div class="btn-group btn-group-justified mb15">
                                @*<div class="btn-group">
                                        <button type="button" class="btn btn-facebook"><span class="ion ion-social-facebook"></span>&nbsp;&nbsp;Facebook</button>
                                    </div>*@
                                <div class="btn-group">
                                    <button type="submit" class="btn btn-success"><i class="fa fa-sign-in"></i> Sign In</button>
                                </div>
                              
                            </div>

                            @*<div class="clearfix text-center small">
                                <p>Don't have an account? <a href="signup.html">Create Now</a></p>
                            </div>*@
                        }
                        <div class="row">
                            <div class="col-md-12 pull-right" style="color:#ff0000;font-family:bold;text-align:center">
                               @ViewData["Message"]
                            </div>
                        </div>
                    </div>

                </div> <!-- #end signin-container -->
            </div>



        </div>
        <!-- #end content-container -->

    </div> <!-- #end main-container -->
    <!-- Dev only -->
    <!-- Vendors -->
    <script src="@Url.Content("~/Scripts/jquery-2.2.3.min.js")"></script>
    <script src="@Url.Content("~/Scripts/jquery.validate.js")"></script> 
    <script type="text/javascript">
        $("#frmLogin").validate({
            rules: {
                'UserName': {
                    required: true
                },
                'Password': {
                    required: true
                },
            },
            //,
            //messages: {
            //    UserID: 'Username is Required',
            //    Password: 'Password is Required'
            //}
        });

        //$(function () {
        //    setTimeout(function () {
        //        $('#UserName').val('sgadmin@gmail.com');
        //        $('#Password').val('3V44h$99');
        //    }, 1500);
            
        //});

    </script>
</body>
</html>

