﻿@model HR.Web.ViewModels.HtmlTblVm<HR.Web.ViewModels.EmpLeaveListVm>

@section Styles{
    <style>
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
}
@{
    var listMonths = new List<SelectListItem>()
    {
    new SelectListItem {Text = "January",   Value = "1"},
    new SelectListItem {Text = "February", Value = "2"},
    new SelectListItem {Text = "March", Value = "3"},
    new SelectListItem {Text = "April",   Value = "4"},
    new SelectListItem {Text = "May", Value = "5"},
    new SelectListItem {Text = "June", Value = "6"},
    new SelectListItem {Text = "July",   Value = "7"},
    new SelectListItem {Text = "August", Value = "8"},
    new SelectListItem {Text = "September", Value = "9"},
    new SelectListItem {Text = "October",   Value = "10"},
    new SelectListItem {Text = "November", Value = "11"},
    new SelectListItem {Text = "December", Value = "12"}
    };

    var currentyear = DateTime.Now.Year;
    var listyears = new List<SelectListItem>()
    {
        new SelectListItem {Text=(currentyear-1).ToString(),Value=(currentyear-1).ToString() },
        new SelectListItem {Text=(currentyear).ToString(),Value=(currentyear).ToString() }
    };


}

<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Applied Leave List
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("AppliedLeaveList", "Leave", FormMethod.Get, new { id = "appliedleavelist", name = "appliedleavelist" }))
                    {
                        <div class="row">
                            <div class="col-md-3">
                                @Html.DropDownList("Month", SelectListItemHelper.GetMonths(), new { @class = "form-control input-sm", onchange = "getappliedlist(this)" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("Year", SelectListItemHelper.GetYears(), new { @class = "form-control input-sm", onchange = "getappliedlist(this)" })
                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-sm" onclick="downloadexcel()" type="button"><i class="fa fa-file-excel-o" aria-hidden="true"></i><b>Download</b></button>
                            </div>
                        </div>
                        if (ViewData["RoleCode"].ToString() == UTILITY.ROLE_SUPERADMIN)
                        {
                            <div class="row">
                                <div class="col-md-3">
                                    @Html.DropDownList("BranchId", SelectListItemHelper.Branches(), "Select Branch", new { @class = "form-control input-sm", onchange = "getappliedlist(this)" })
                                </div>
                                <div class="col-md-9">
                                </div>
                            </div>
                        }

                        <div class="row" style="padding-top:10px">
                            <div class="col-md-12">
                                <table class="table table-conden table-bordered">
                                    <thead>
                                        <tr>
                                            <th>
                                                Employee Name
                                            </th>
                                            <th>
                                                From Date
                                            </th>
                                            <th>
                                                To Date
                                            </th>
                                            <th>
                                                Type of Leave
                                            </th>
                                            <th>
                                                No. of Days
                                            </th>
                                            <th>
                                                Reason
                                            </th>
                                            <th>
                                                Status
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @for (var i = 0; i < Model.TableData.Count(); i++)
                                        {

                                            <tr>
                                                <td>
                                                    @Model.TableData[i].EmployeeName
                                                </td>
                                                <td>
                                                    @Model.TableData[i].FromDate.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @Model.TableData[i].ToDate.ToString("dd/MM/yyyy")
                                                </td>
                                                <td>
                                                    @Model.TableData[i].LeaveType
                                                </td>
                                                <td>
                                                    @Model.TableData[i].Days
                                                </td>
                                                <td>
                                                    @Model.TableData[i].Reason
                                                </td>
                                                @if (Model.TableData[i].Status == UTILITY.LEAVEAPPROVED)
                                                {
                                                    <td class="control-label">
                                                        <label class="control-label">
                                                            <span class="label label-success" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                                        </label>
                                                    </td>
                                                }
                                                else if (Model.TableData[i].Status == UTILITY.LEAVECANCELLED)
                                                {
                                                    <td class="control-label">
                                                        <label class="control-label">
                                                            <span class="label label-primary" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                                        </label>
                                                    </td>
                                                }
                                                else if (Model.TableData[i].Status == UTILITY.LEAVEPENDING)
                                                {
                                                    <td class="control-label">
                                                        <label class="control-label">
                                                            <span class="label label-info" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                                        </label>
                                                    </td>
                                                }
                                                else if (Model.TableData[i].Status == UTILITY.LEAVEREJECTED)
                                                {
                                                    <td class="control-label">
                                                        <label class="control-label">
                                                            <span class="label label-danger" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span>
                                                        </label>
                                                    </td>
                                                }
                                                else if (string.IsNullOrWhiteSpace(Model.TableData[i].Status))
                                                {
                                                    <td class="control-label">
                                                        <label class="control-label">
                                                            <span class="label label-info" style="font-weight:bold;font-size:12px;">Pending</span>
                                                        </label>
                                                    </td>
                                                }
                                            </tr>

                                        }
                                    </tbody>

                                </table>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div id="pagination"></div>
                            </div>
                        </div>
                    }
                    @using (Html.BeginForm("Excel", "Leave", FormMethod.Post, new { id = "frmexcel", name = "frmexcel" }))
                    {
                        <div class="row" style="padding-top:10px">
                            @Html.Hidden("hdnBranchID")
                            @Html.Hidden("Month")
                            @Html.Hidden("Year")
                        @*<div class="col-md-3">
                                @Html.DropDownList("Month", SelectListItemHelper.GetMonths(), "All", new { @class = "form-control input-sm" })
                            </div>
                            <div class="col-md-3">
                                @Html.DropDownList("Year", SelectListItemHelper.GetYears(), "Select Year", new { @class = "form-control input-sm" })

                            </div>
                            <div class="col-md-6">
                                <button class="btn btn-success btn-sm" onclick="downloadexcel()" type="button"><i class="fa fa-file-excel-o" aria-hidden="true"></i></button>
                            </div>*@
                    </div>
                    }



                </div>
            </div>
        </div>

    </div>
</div>
@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
        $(function () {
            debugger;
            $('#li_Leave').addClass('open');
            $('#li_appliedleavelist').addClass('active');
            var branchid=$('#BranchId').val();
            var month=$('#Month').val();
            var year=$('#Year').val();
            $('#pagination').bootpag({
                total: @Model.PageLength,
                page: @Model.CurrentPage,
                maxVisible: 10,
                href: '@Url.Content("~/Leave/AppliedLeaveList?page="){{number}}' + '&branchid=' +branchid	+'&month='+month+'&year='+year, //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });
        });

        function getappliedlist(el) {
            $('#appliedleavelist').submit();
            $.loader({
                className: "blue-with-image-2",
                content: '',
            });
        }

        function downloadexcel() {
            @*var month=$('#Month').val();
            var year=$('#Year').val();
            $.ajax({
                url: '@Url.Content("~/Leave/Excel?Month=")' +month + '&Year=' +year,
                contentType: 'application/vnd.ms-excel',
                method: 'GET',
                success: function (data) {
                    debugger;
                    return data
                },
                error: function (err) {

                }
            });*@
            //var month=$('#Month').val();
            //var year=$('#Year').val();
          
            if ($('#BranchId')) {
                $('#hdnBranchID').val($('#BranchId').val())
            }
            $('#Month').val($('#Month').val())
            $('#Year').val($('#Year').val())

            $('#frmexcel').submit();

        }


    </script>
}
