﻿@model HR.Web.ViewModels.HtmlTblVm<HR.Web.ViewModels.GrantLeaveListVm>

@section Styles {
    <style type="text/css">
        .popover {
            max-width: 100%;
            width: 500px;
        }
         .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width{
            width:90%;
        }
    </style>
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default panel-hovered panel-stacked mb10">
            <div class="center-block width">
                <div class="panel-heading">
                    <h4>Grant Leave Form</h4>
                </div>
                <div class="panel-body">
                    <div class="">
                        <table class="table table-responsive table-bordered ">
                            <thead>
                                <tr>
                                    <th>Employee Name</th>
                                    <th>Date Of Application</th>
                                    <th>From Date</th>
                                    <th>To Date</th>
                                    <th>Total Days</th>
                                    <th>Type Of Leave</th>                                    
                                    <th>Reason</th>
                                    <th>Status</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @for (var i = 0; i < Model.TableData.Count; i++)
                                {
                                    <tr>
                                        <td>@Model.TableData[i].Name</td>
                                        <td>@Model.TableData[i].ApplyDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].FromDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].ToDate.ToString("dd/MM/yyyy")</td>
                                        <td>@Model.TableData[i].TotalDays</td>
                                        <td>@Model.TableData[i].LeaveTypeDesc</td>                                        
                                        <td>@Model.TableData[i].Reason</td>
                                        <td>
                                            @if (Model.TableData[i].Status == UTILITY.LEAVEAPPROVED)
                                            {
                                                <label class="control-label"><span class="label label-success" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                            else if (Model.TableData[i].Status == UTILITY.LEAVEREJECTED)
                                            {
                                                <label class="control-label"><span class="label label-danger" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                            else if (Model.TableData[i].Status == UTILITY.LEAVECANCELLED)
                                            {
                                                <label class="control-label"><span class="label label-primary" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                            else if (string.IsNullOrWhiteSpace(Model.TableData[i].Status))
                                            {
                                                <label class="control-label"><span class="label label-info" style="font-weight:bold;font-size:12px;">Pending</span></label>
                                            }
                                            else if (Model.TableData[i].Status == UTILITY.LEAVEPENDING)
                                            {
                                                <label class="control-label"><span class="label label-info" style="font-weight:bold;font-size:12px;">@Model.TableData[i].Status</span></label>
                                            }
                                        </td>
                                        @*<td>
                                            <button class="btn btn-primary btn-sm ajaxCss"
                                                    type="button"
                                                    onclick="location.href = '@Url.Content("~/Leave/AppliedGrantLeaveStatus?EmployeeLeaveID=")'+ @Model.TableData[i].EmployeeLeaveID">
                                                <i class="fa fa-eye"></i>&nbsp;View
                                            </button>
                                        </td>*@
                                        <td>
                                            @if (Model.TableData[i].Status == UTILITY.LEAVEPENDING)
                                            {
                                                <button class="btn btn-primary btn-sm ajaxCss" type="button" onclick="location.href='@Url.Content("~/Leave/ApproveLeave?employeeleaveid="+ Model.TableData[i].EmployeeLeaveID)'">
                                                    <i class="fa fa-check"></i>Approve
                                                </button>
                                                <button type="button" class="btn btn-danger btn-sm" data-toggle="popoverCancel"
                                                        data-id="@Model.TableData[i].EmployeeLeaveID"
                                                        title="Remarks">
                                                    <i class="fa fa-times"></i>Reject
                                                </button>
                                            }
                                           
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
</div>
   </div>
@using (Html.BeginForm("RejectLeave", "Leave", FormMethod.Post, new { id = "frmRejectLeave", name = "frmRejectLeave" }))
{
    <input type="hidden" id="employeeLeaveID" name="employeeLeaveID" />
    <input type="hidden" id="employeeRemarks" name="employeeRemarks" />
    <input type="hidden" id="employeeId" name="employeeId" />
    <div id="popoverCancel" class="hide">
        <div class="row">
            <div class="form-group">
                <div class="col-md-3">Remarks:</div>
                <div class="col-md-9">

                    <textarea id="txtRemarks" name="txtRemarks" class="form-control input-sm"></textarea>
                </div>
            </div>
        </div>
        <div class="row css10">
            <div class="form-group">
                <div class="col-md-3">
                </div>
                <div class="col-md-9">
                    <button type="button" class="btn btn-primary btn-sm ajaxCss" onclick="RejectLeave()"><i class="fa fa-floppy-o"></i>Save</button>
                    <button type="button" class="btn btn-default btn-sm" onclick="ClosePopUp()"><i class="fa fa-times"></i>Close</button>
                </div>
            </div>
        </div>
    </div>
}
@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#li_Leave').addClass('open');
        $('#li_grantleaveform').addClass('active');
        $('#pagination').bootpag({
            total: @Model.PageLength,
            page: @Model.CurrentPage,
            maxVisible: 6,
            href: '@Url.Content("~/Leave/GrantLeaveFormList?page="){{number}}', //"#pro-page-{{number}}",
            leaps: false,
            next: 'Next',
            prev: 'Prev',
            wrapClass: 'pagination pagination-sm'
        }).on('page', function (event, num) {
            $(".content3").html("Page " + num); // or some ajax content loading...
        });
        $('[data-toggle="popoverCancel"]').popover({
            placement: 'left',
            html: true,
            content: function () {
                var empLeaveId=$(this).data("id");
                $('#employeeLeaveID').val(empLeaveId);
                return $('#popoverCancel').html();
            }
        });

        $('th').each(function (col) {
            $(this).hover(
            function () { $(this).addClass('focus'); },
           function () { $(this).removeClass('focus'); }
           );
            $(this).click(function () {
                if ($(this).is('.asc')) {
                    $(this).removeClass('asc');
                    $(this).addClass('desc selected');
                    sortOrder = -1;
                }
                else {
                    $(this).addClass('asc selected');
                    $(this).removeClass('desc');
                    sortOrder = 1;
                }
                $(this).siblings().removeClass('asc selected');
                $(this).siblings().removeClass('desc selected');
                var arrData = $('table').find('tbody >tr:has(td)').get();
                arrData.sort(function (a, b) {
                    var val1 = $(a).children('td').eq(col).text().toUpperCase();
                    var val2 = $(b).children('td').eq(col).text().toUpperCase();
                    if ($.isNumeric(val1) && $.isNumeric(val2))
                        return sortOrder == 1 ? val1 - val2 : val2 - val1;
                    else
                        return (val1 < val2) ? -sortOrder : (val1 > val2) ? sortOrder : 0;
                });
                $.each(arrData, function (index, row) {
                    $('tbody').append(row);
                });
            });
        });

    });
        function RejectLeave() {
            var remarks = $('#txtRemarks').val();
            $('#employeeRemarks').val(remarks);
            $('#popoverCancel').find('textarea[id=txtRemarks]').attr('value', remarks);
            $('#frmRejectLeave').submit();

        }
        function ClosePopUp() {
            $('[data-toggle="popoverCancel"]').popover('hide');
        }

    </script>
}


