﻿@using Newtonsoft.Json;

@model HR.Web.ViewModels.holidayVm

@section TopStyles{

    <link href="@Url.Content("~/Css/fullcalendar.css")" rel="stylesheet" />
    <style>
        .fc-time {
            display: none;
        }

        .main-container .content-container.fixedHeader .page {
            margin-top: 0px;
        }

        page {
            padding: 0px;
        }

        .width {
            width: 80%;
        }
    </style>
}




<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default panel-hovered panel-stacked mb10">
            <div class="center-block width">
                <div class="box">
                    <div class="box-header">
                        <h4>HOLIDAY LIST</h4>
                        @if (ViewData["RoleCode"].ToString() != UTILITY.ROLE_EMPLOYEE)
                        {

                            <button type="button" onclick="AddHoliday(-1)"
                                    class="btn btn-info btn-raised waves-effect btn-sm pull-right">
                                <i class="fa fa-plus"></i>Add
                            </button>

                        }
                        <div class="box-body">
                            @if (ViewData["RoleCode"].ToString() == UTILITY.ROLE_SUPERADMIN)
                            {

                                <div class="row">
                                    <div class="col-md-4">
                                        @using (Html.BeginForm("HolidayListByBranch", "Leave", FormMethod.Post, new { id = "frmHolidayList", name = "frmHolidayList" }))
                                        {
                                            @Html.DropDownListFor(x => x.BranchId, SelectListItemHelper.Branches(), "--Select--",
                            new { @class = "form-control input-sm", onchange = "getHolidayBranch(this)" })
                                        }
                                    </div>

                                </div>
                            }
                            <div class="row">
                                <div class="col-md-12">
                                    <div class="calendar-toolbar mb20 text-center">
                                        <div class="btn-group btn-group-sm left">
                                            <button type="button" class="btn btn-default ion ion-arrow-left-c prev-btn"></button>
                                            <button type="button" class="btn btn-default ion ion-arrow-right-c next-btn"></button>
                                        </div>
                                        <button type="button" class="btn btn-default btn-sm ml15 left today-btn">Today</button>
                                        <strong class="text-uppercase current-date"></strong>
                                    </div>
                                    <div id="fullCalendar" style="z-index:9;"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>



    @using (Html.BeginForm("SaveHoliday", "Leave", FormMethod.Post, new { id = "holidayfrm", name = "holidayfrm" }))
    {
        <div id="myModal" class="modal fade" role="dialog">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 class="modal-title">Add Holiday</h4>
                    </div>
                    <div class="modal-body" id="modalContent">
                        @{
                            Html.RenderPartial("GetHolidayList", Model.HolidayList);
                        }
                    </div>
                    <div class="modal-footer">
                        <button id="btnsave" type="button" onclick="SaveChanges()" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o"></i>Create</button>
                        <button type="button" class="btn btn-default btn-sm" onclick="location.href='@Url.Content("~/Leave/HolidayList")'"><i class="fa fa-times"></i>Close</button>
                        @if (Model.HolidayList.HolidayId != 0)
                        {
                            <button  id="btndelete" type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Content("~/Leave/DeleteHoliday?holidayid=")'+ @Model.HolidayList.HolidayId"><i class="fa fa-trash-o"></i>Delete</button>
                        }
                        @*<button type="button" class="btn btn-danger btn-sm" onclick="location.href='@Url.Content("~/Leave/DeleteHoliday?holidayid=")'+ @Model.HolidayList.HolidayId"><i class="fa fa-trash-o"></i>Delete</button>*@
                    </div>
                </div>

            </div>
        </div>
                            }

    @section Scripts{
        <script src="@Url.Content("~/Scripts/Core/fullcalendar.min.js")"></script>


        <script type="text/javascript">

             @if(Model.HolidayList.HolidayId != -1)
             {
                 var effDt = Model.HolidayList.Date.ToString("dd/MM/yyyy");
                 if(DateTime.Parse(effDt) < DateTime.Now)
                 {
                     <text>

            $('#Date').attr('readonly', 'readonly');
            $('#Description').attr('readonly', 'readonly');
            @if (Model.HolidayList.Description != null)
                    {
                         <text>
                         $("#btnsave").remove();
                         $("#btndelete").remove();
                         </text>
                    }

            </text>
                 }
             }

            var obj = JSON.parse('@Html.Raw(JsonConvert.SerializeObject(Model.calendarVM))');
            $(function () {

                $('#li_Leave').addClass('open');
                $('#li_holidaylist').addClass('active');

                @if (Model.HolidayList != null && Model.HolidayList.HolidayId != 0)
                {
                <text>
                $('#myModal').modal('show');
                </text>
                }
            });

            function getHolidayBranch(el) {
              
                $('#frmHolidayList').submit();
                $.loader({
                    className: "blue-with-image-2",
                    content: '',
                });
            }

            function AddHoliday(holidayId) {
                //$('#Description').val('');
                //$('#Date').val('');
                //$('#CountryId').val('');
                //$('#myModal').modal('show');
                $.ajax({
                    url: '@Url.Content("~/Leave/GetHolidayList?holidayId=")' + holidayId,
                    contentType: 'text/html',
                    method: 'GET',
                    success: function (data) {
                        $('#myModal').modal('show');
                        $('#modalContent').html('');
                        $('#modalContent').html(data);
                    }
                });
            }
            function SaveChanges() {
                if ($('#holidayfrm').valid()) {
                    var dt = $('#Dt').find('input').val();
                    $('#Date').val(dt);
                    $('#holidayfrm').submit();
                    swal({
                        title: "Saved Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                          function () {
                              $.loader({
                                  className: "blue-with-image-2",
                                  content: '',
                              });
                          })
                }
                else {
                    swal("Incorrect Inputs");
                }
            }
            $('#holidayfrm').validate({
                rules: {
                    Date: {
                        required: true,
                    },
                    Description: {
                        required: true,
                        maxlength: 20
                    },
                    CountryId: {
                        required: true
                    }
                }
            });



        </script>

        <script src="~/Scripts/Core/calendar.init.js"></script>
    }
