﻿@model List<HR.Web.ViewModels.WeekendPolicyVm>
@section Styles{
    <style>
        .width {
            width: 80%;
        }

        .icheckbox_flat-blue.checked.disabled {
            background-position: -22px 0;
        }
    </style>

}

<div class="page">
    <div class="page-wrap">
        <div class="panel-group">
            <div class="panel panel-default">
                <div class="center-block width">
                    <div class="box-header">
                        <h4>WEEKEND POLICY LIST</h4>
                        @if (ViewBag.ROLECODE == UTILITY.ROLE_SUPERADMIN) {
                            <button class="btn btn-primary btn-sm ajaxCss pull-right" onclick="location.href='@Url.Content("~/Leave/WeekEndPolicy?branchId=-1")'">
                                <i class="fa fa-plus-square"></i>Add
                            </button>
                        }
                        else {
                            <button class="btn btn-primary btn-sm ajaxCss pull-right" onclick="location.href='@Url.Content("~/Leave/WeekEndPolicy?branchId=0")'">
                                <i class="fa fa-plus-square"></i>Add
                            </button>
                        }
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th style="white-space:nowrap">Country Name</th>
                                        <th>Monday</th>
                                        <th>Tuesday</th>
                                        <th>Wednesday</th>
                                        <th>Thursday</th>
                                        <th>Friday</th>
                                        <th>Saturday</th>
                                        <th>Sunday</th>
                                        <th>Edit</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (var i = 0; i < Model.Count(); i++)
                                    {

                                        <tr>
                                            <td>@Model.ElementAt(i).BranchName</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Monday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Tuesday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Wednesday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Thursday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Friday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Saturday.Value, new { @disabled = true })</td>
                                            <td>@Html.CheckBoxFor(x => x.ElementAt(i).Sunday.Value, new { @disabled = true })</td>
                                            <td>
                                                <button class="btn btn-primary btn-sm ajaxCss" onclick="location.href='@Url.Content("~/Leave/WeekEndPolicy?branchId=")'+ @Model.ElementAt(i).BranchId">
                                                    <i class="fa fa-pencil-square"></i>Edit
                                                </button>
                                            </td>
                                        </tr>

                                    }
                                </tbody>



                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_weekendpolicy').addClass('active');
        })

    </script>
}
