﻿@model HR.Web.Models.WeekendPolicy
@using (Html.BeginForm("SaveWeekendPolicy", "Leave", FormMethod.Post, new { id = "weekendfrm", name = "weekendfrm" }))
{
    <div class="page">
        <div class="page-wrap">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Weekend Policy
                    </div>
                    <div class="panel-body">
                        <div class="row">
                            <div class="col-md-4">
                                @if (ViewBag.ROLECODE == UTILITY.ROLE_SUPERADMIN)
                                {
                                    <div class="col-md-1">
                                        <label class="control-label pull-left">
                                            BranchName
                                        </label>
                                    </div>

                                    @Html.DropDownListFor(x => x.BranchId, SelectListItemHelper.Branches(), "Select Branch", new { @class = "form-control input-sm", onchange = "GetBranchPolicy(this)" })
                                }
                                else
                                {
                                    var id = Model.BranchId;
                                    <input type="hidden" id="BranchId" name="BranchId" value="@Model.BranchId" />
                                }
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Monday", Model.Monday ?? false)

                                <label class="control-label">Monday</label>
                            </div>
                            <div class="col-md-2">
                                @Html.Hidden("IsMondayHalfDay", Model.IsMondayHalfDay ?? false)
                            </div>

                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Tuesday", Model.Tuesday ?? false)

                                <label class="control-label">Tuesday</label>
                            </div>
                            <div class="col-md-2">
                                @Html.Hidden("IsTuesdayHalfDay", Model.IsTuesdayHalfDay ?? false)
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Wednesday", Model.Wednesday ?? false)

                                <label class="control-label">Wednesday</label>
                            </div>
                            <div class="col-md-2">
                                @Html.Hidden("IsWednesdayHalfDay", Model.IsWednesdayHalfDay ?? false)
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox(nameof(Model.Thursday), Model.Thursday ?? false)
                                <label class="control-label">Thursday</label>
                            </div>
                            <div class="col-md-2">
                                @Html.Hidden("IsThursdayHalfDay", Model.IsThursdayHalfDay ?? false)

                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Friday", Model.Friday ?? false)
                                <label class="control-label">Friday</label>
                            </div>
                            <div id="IsFridayHalfDaySession">
                                <div class="col-md-2">
                                    <label class="control-label">Half Day</label>
                                    @Html.CheckBox("IsFridayHalfDay", Model.IsFridayHalfDay ?? false)

                                </div>
                            </div>
                            <div id="FridaySession">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right" style="white-space:nowrap;">Session</span>
                                </label>
                                <div class="col-md-2">

                                    @Html.DropDownListFor(x => x.FridaySession, SelectListItemHelper.LeaveSession(), new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Saturday", Model.Saturday ?? false)
                                <label class="control-label">Saturday</label>
                            </div>
                            <div id="IsSaturdayHalfDaySession">
                                <div class="col-md-2">
                                    <label class="control-label">Half Day</label>
                                    @Html.CheckBox("IsSaturdayHalfDay", Model.IsSaturdayHalfDay ?? false)
                                </div>
                            </div>
                            <div id="SaturdaySession">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right" style="white-space:nowrap;">Session</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.SaturdaySession, SelectListItemHelper.LeaveSession(), new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                @Html.CheckBox("Sunday", Model.Sunday ?? false)
                                <label class="control-label">Sunday</label>
                            </div>
                            <div id="IsSundayHalfDaySession">
                                <div class="col-md-2">
                                    <label class="control-label">Half Day</label>
                                    @Html.CheckBox("IsSundayHalfDay", Model.IsSundayHalfDay ?? false)
                                </div>
                            </div>
                            <div id="SundaySession">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right" style="white-space:nowrap;">Session</span>
                                </label>
                                <div class="col-md-2">
                                    @Html.DropDownListFor(x => x.SundaySession, SelectListItemHelper.LeaveSession(), new { @class = "form-control input-sm" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-primary btn-sm" onclick="SaveWeekendPolicy()" type="button">
                    <i class="fa fa-floppy-o"></i><b>Save</b>
                </button>
            </div>
            <div class="col-md-6 pull-right">
                <button class="btn btn-primary btn-sm pull-right" type="button" onclick="location.href='@Url.Content("~/Leave/WeekendPolicyList")'">
                    <i class="fa fa-arrow-left"></i><b>Back</b>
                </button>
            </div>
        </div>
    </div>
}
@using (Html.BeginForm("GetBranchPolicy", "Leave", FormMethod.Post, new { id = "frmGetBranchPolicy", name = "frmGetBranchPolicy" }))
{
    <input type="hidden" id="policyBranchId" name="weekendpolicy.BranchId" />
}

@section Scripts{
    <script>
        function SaveWeekendPolicy() {
            if ($('#weekendfrm').valid()) {
                $('#weekendfrm').submit();
                swal({
                    title: "Saved Successfully",
                    text: "",
                    closeOnConfirm: true,
                    confirmButtonText: "Ok",
                    confirmButtonClass: "btn-primary",
                    timer: 5000
                },
                                    function () {
                                        $.loader({
                                            className: "blue-with-image-2",
                                            content: '',
                                        });
                                    })
            }
            else {
                swal("Incorrect Inputs");
            }
        }
        $('#weekendfrm').validate({
            rules: {
                BranchId: {
                    required: true
                }
            }
        });
        function GetBranchPolicy(el) {
            $('#policyBranchId').val(el.value);
            $('#frmGetBranchPolicy').submit();
        }
        $(function () {
            $('#li_Leave').addClass('open');
            $('#li_weekendpolicy').addClass('active');

            $('#FridaySession').hide();
            $('#SaturdaySession').hide();
            $('#SundaySession').hide();
            $('#IsFridayHalfDaySession').hide();
            $('#IsSaturdayHalfDaySession').hide();
            $('#IsSundayHalfDaySession').hide();

            $('#Friday').trigger('ifChanged');
            $('#Saturday').trigger('ifChanged');
            $('#Sunday').trigger('ifChanged');
            $('#IsFridayHalfDay').trigger('ifChanged');
            $('#IsSaturdayHalfDay').trigger('ifChanged');
            $('#IsSundayHalfDay').trigger('ifChanged');
        });

        $('#Friday').on('ifChanged', function () {
            debugger;
            if ($('#Friday').prop('checked')) {
                $('#IsFridayHalfDaySession').show();
                if ($('#IsFridayHalfDay').prop('checked'))
                    $('#FridaySession').show();
            }
            else {

                $('#IsFridayHalfDay').removeAttr('checked');
                $('#IsFridayHalfDay').parent().removeClass('checked');
                $('#IsFridayHalfDaySession').hide();
                $('#FridaySession').hide();
            }
        });

        $('#Saturday').on('ifChanged', function () {
            if ($('#Saturday').prop('checked')) {
                $('#IsSaturdayHalfDaySession').show();
                if ($('#IsSaturdayHalfDay').prop('checked'))
                    $('#SaturdaySession').show();
            }
            else {

                $('#IsSaturdayHalfDay').removeAttr('checked');
                $('#IsSaturdayHalfDay').parent().removeClass('checked');
                $('#IsSaturdayHalfDaySession').hide();
                $('#SaturdaySession').hide();
            }
        });


        $('#Sunday').on('ifChanged', function () {
            if ($('#Sunday').prop('checked')) {
                $('#IsSundayHalfDaySession').show();
                if ($('#IsSundayHalfDay').prop('checked'))
                    $('#SundaySession').show();
            }
            else {

                $('#IsSundayHalfDay').removeAttr('checked');
                $('#IsSundayHalfDay').parent().removeClass('checked');
                $('#IsSundayHalfDaySession').hide();
                $('#SundaySession').hide();
            }
        });

        $('#IsFridayHalfDay').on('ifChanged', function () {
            if ($('#IsFridayHalfDay').prop('checked')) {
                $('#FridaySession').show();
            }
            else
                $('#FridaySession').hide();
        });

        $('#IsSaturdayHalfDay').on('ifChanged', function () {
            if ($('#IsSaturdayHalfDay').prop('checked')) {
                $('#SaturdaySession').show();
            }
            else
                $('#SaturdaySession').hide();
        });

        $('#IsSundayHalfDay').on('ifChanged', function () {
            if ($('#IsSundayHalfDay').prop('checked')) {
                $('#SundaySession').show();
            }
            else
                $('#SundaySession').hide();
        });

    </script>
}
