﻿@model HR.Web.ViewModels.PayrollBatchVm


@section Styles{
    <link src="https://cdn.datatables.net/1.10.16/css/dataTables.bootstrap.min.css" rel="stylesheet" />
    <link src="https://cdn.datatables.net/fixedcolumns/3.2.4/css/fixedColumns.bootstrap.min.css" rel="stylesheet" />
    <style>
        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .table-striped td {
            background: #fff;
        }


        .pd-generate {
            padding: 15px;
        }


        th, td {
            white-space: nowrap;
        }

        div.dataTables_wrapper {
            width: 100%;
            margin: 0 auto;
        }

        .table-striped td {
            background: #fff;
        }
        /*.dsp-none{
                display:none;
            }*/
        /*#dtid2{
                display:none;
            }*/
    </style>
}
@{
    var listMonths = new List<SelectListItem>()
{
new SelectListItem {Text = "January",   Value = "1"},
new SelectListItem {Text = "February", Value = "2"},
new SelectListItem {Text = "March", Value = "3"},
new SelectListItem {Text = "April",   Value = "4"},
new SelectListItem {Text = "May", Value = "5"},
new SelectListItem {Text = "June", Value = "6"},
new SelectListItem {Text = "July",   Value = "7"},
new SelectListItem {Text = "August", Value = "8"},
new SelectListItem {Text = "September", Value = "9"},
new SelectListItem {Text = "October",   Value = "10"},
new SelectListItem {Text = "November", Value = "11"},
new SelectListItem {Text = "December", Value = "12"}
};

    var ispaySlip = false;

    if (Model.dt != null && Model.dt.Rows.Count > 0)
    {
        ispaySlip = Convert.ToInt32(@Model.dt.Rows[0][Model.dt.Columns[Model.dt.Columns.Count - 1].ColumnName]) == 1 ? true : false;
    }
}


<div class="page" style="overflow:visible;">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-hovered panel-stacked mb10" style="min-height:800px;">
                <div class="panel-heading">
                    Payslip Batch <span style="color:#ff0000" id="errorMsg"></span>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("confirmprocesspayroll", "PayrollBatch", FormMethod.Post, new { id = "confirmprocesspayroll", name = "confirmprocesspayroll" }))
                    {
                        @Html.HiddenFor(x => x.payslipBatchHeader.BatchHeaderId)
                        @Html.HiddenFor(x => x.payslipBatchHeader.BranchId)
                        <div class="row css5">

                            <label class="col-md-2 control-label">
                                <span class="pull-right">Batch No</span>
                            </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.payslipBatchHeader.BatchNo, new { @class = "form-control input-sm uppercase", disabled = "disabled", required = "required" })
                                @Html.HiddenFor(x => x.payslipBatchHeader.BatchNo)
                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Process Date</span>
                            </label>
                            <div class="col-md-3">
                                <div class="input-group date dtCss" id="ProcessDate">
                                    @Html.TextBoxFor(x => x.payslipBatchHeader.ProcessDate, new { @class = "form-control input-sm", required = "required" })
                                    <span class="input-group-addon">
                                        <i class="ion ion-calendar"></i>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Month</span>
                            </label>
                            <div class="col-md-1">
                                @Html.DropDownListFor(x => x.payslipBatchHeader.Month, SelectListItemHelper.GetMonths(), new { @class = "form-control input-sm", required = "required", onchange = "getprocesslist()" })
                                @Html.HiddenFor(x => x.payslipBatchHeader.Month)
                            </div>
                            <label class="col-md-1 control-label">
                                <span class="pull-right">Year</span>
                            </label>
                            <div class="col-md-1 pull-left">
                                @Html.DropDownListFor(x => x.payslipBatchHeader.Year, SelectListItemHelper.GetYears(), new { @class = "form-control input-sm", required = "required", onchange = "getprocesslist()" })
                                @Html.HiddenFor(x => x.payslipBatchHeader.Year)
                            </div>
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Total Salary</span>
                            </label>
                            <div class="col-md-3">
                                @Html.TextBoxFor(x => x.payslipBatchHeader.TotalSalary, new { @class = "form-control input-sm numCss", disabled = "disabled", required = "required" })
                                @Html.HiddenFor(x => x.payslipBatchHeader.TotalSalary)

                            </div>
                        </div>
                        <div class="row css5">
                            <div class="col-md-2">
                            </div>
                            <div class="col-md-5">
                                @if (!ispaySlip)
                                {
                                    <button type="button" class="btn btn-sm btn-primary" id="button-btn" onclick="getprocesslist()"><b>Process</b></button>
                                    <script type="text/javascript">
                                        $(function () {
                                            $('#payslipBatchHeader_TotalSalary').val('');
                                        });
                                    </script>
                                    if (Model.dt != null && Model.dt.Rows.Count > 0)
                                    {
                                        <button type="button" class="btn btn-sm btn-success dsp-none" id="dtid2" onclick="ConfirmProcess()"><b>Confirm</b></button>
                                    }
                                }
                            </div>
                        </div>
                    }
                    <dialog></dialog>
                    <div class="row" id="dtid">
                        <div class="col-md-12">
                            @if (Model.dt != null && Model.dt.Rows.Count > 0)
                            {
                                <script type="text/javascript">
                                    $(function () {
                                        $('#payslipBatchHeader_BatchNo').val('');
                                    });
                                </script>
                                <table id="example" class="table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                    <thead>
                                    <th>Payslip</th>
                                    @*<th>Tax</th>*@
                                    @for (var i = 0; i < Model.dt.Columns.Count; i++)
                                    {
                                        <text>
                                            <th style="min-width:160px;">@Model.dt.Columns[i].ColumnName</th>
                                        </text>
                                    }
                                    </thead>
                                    <tbody>


                                        @for (var i = 0; i < Model.dt.Rows.Count; i++)
                                        {
                                            <tr>
                                                <td style="min-width:100px;">
                                                    @if (ispaySlip)
                                                    {

                                                        <a href="#" onclick="DownloadPaySlip(@Model.dt.Rows[i][Model.dt.Columns[1].ColumnName])"><i class="fa fa-file-pdf-o" style="color:red"></i></a>

                                                    }
                                                </td>


                                                @*<td style="min-width:80px;">*@
                                                @*@if (ispaySlip)
                                                    {
                                                        <a href="#" onclick="GenerateTAVSummaryByEmployeeReportPDF(@Model.dt.Rows[i][Model.dt.Columns[1].ColumnName])"><i class="fa fa-file-pdf-o" style="color:red"></i></a>
                                                    }*@
                                                @*<div class="btn-group dropup">
                                                        <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                                                            Download
                                                            <span class="caret"></span>
                                                        </button>

                                                        <ul class="dropdown-menu" role="menu">
                                                            <li><a href="@Url.Content("~/Images/samplepayslip.pdf")" download="samplepayslip">Download PaySlip</a></li>
                                                            <li><a href="#" onclick="GenerateTAVSummaryByEmployeeReportPDF(@Model.dt.Rows[i][Model.dt.Columns[1].ColumnName])">Download W/H Tax form</a></li>

                                                        </ul>
                                                    </div>*@
                                                @*</td>*@
                                                @for (var j = 0; j < Model.dt.Columns.Count; j++)
                                                {
                                                    <td>
                                                        @if (Model.dt.Rows[i][Model.dt.Columns[j].ColumnName] != null)
                                                        {
                                                            <text>
                                                                @Model.dt.Rows[i][Model.dt.Columns[j].ColumnName].ToString()
                                                            </text>
                                                        }
                                                    </td>
                                                }
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }



                            @*<table id="example" class="table table-striped table-bordered nowrap stripe order-column" style="width:100%">
                                    <thead>
                                        <tr>
                                            <th>S.No.</th>
                                            <th>EMP ID</th>
                                            <th>Location</th>
                                            <th>F/S</th>
                                            <th>Name</th>
                                            <th>Designation</th>
                                            <th>NIC</th>
                                            <th>Sub Department</th>
                                            <th>Basic Salary</th>
                                            <th>BRA 01</th>
                                            <th>BRA 02</th>
                                            <th>BRA 03</th>
                                            <th>Salary Arrears</th>
                                            <th>No. of No Pay Days</th>
                                            <th>No Pay Amount</th>
                                            <th>Salary for EPF</th>
                                            <th>"Vehicle  Allow. (Pay Slip)"</th>
                                            <th>"Special Allow (Pay Slip)"</th>
                                            <th>"Entertain. Allow. (Pay Slip)"</th>
                                            <th>"Travel Allow. (Pay Slip)"</th>
                                            <th>"Additional Allowance (Pay Slip)"</th>
                                            <th>Other Incentives</th>
                                            <th>Total Additions</th>
                                            <th>Mobile</th>
                                            <th>Advance</th>
                                            <th>Stamp Duty</th>
                                            <th>P.A.Y.E</th>
                                            <th>Loan Repayment</th>
                                            <th>Other Deductions</th>
                                            <th>E.P.F (8)</th>
                                            <th>"Total Deductions (Without No Pay)"</th>
                                            <th>"Total Deductions (With No Pay)"</th>
                                            <th>Net Pay</th>
                                            <th>E.P.F 12%</th>
                                            <th>E.P.F 20%</th>
                                            <th>E.T.F 3%</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>1</td>
                                            <td>1001</td>
                                            <td>Malaysia</td>
                                            <td>61</td>
                                            <td>Edinburgh</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>Tiger</td>
                                            <td>Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>Tiger</td>
                                            <td>Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                        </tr>
                                        <tr>
                                            <td>2</td>
                                            <td>1002</td>
                                            <td>Singapore</td>
                                            <td>65</td>
                                            <td>Edinburgh</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>Tiger</td>
                                            <td>Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>Tiger</td>
                                            <td>Nixon</td>
                                            <td>System Architect</td>
                                            <td>Edinburgh</td>
                                            <td>61</td>
                                            <td>2011/04/25</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                            <td>$320,800</td>
                                            <td>5421</td>
                                            <td>t.nixon@datatables.net</td>
                                        </tr>

                                    </tbody>
                                </table>*@
                        </div>
                        <div>

                        </div>

                    </div>


                    @*}*@

                    @using (Html.BeginForm("ProcessPayrollGeneration", "PayrollBatch", FormMethod.Post, new { id = "frm2", name = "frm2" }))
                    {
                        @Html.Hidden("currentmonth")
                        @Html.Hidden("currentyear")
                    }
                </div>

            </div>
            @*<div id="dtid2" class="panel panel-default panel-hovered panel-stacked mb10 pd-generate">
                    <button type="button" class="btn btn-sm btn-success" id="dtid2"><b>Generate</b></button>
                </div>*@
        </div>
    </div>
</div>


@section Scripts{
    <script src="https://cdn.datatables.net/1.10.16/js/jquery.dataTables.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.16/js/dataTables.bootstrap.min.js"></script>

    <script src="https://cdn.datatables.net/fixedcolumns/3.2.4/js/dataTables.fixedColumns.min.js"></script>

    <script type="text/javascript">

        $(document).ready(function () {

            $('#li_Payroll').addClass('open');
            $('#li_generatepay').addClass('active');




            var date = new Date();
            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right',
                },
                format: dateFormat,
                defaultDate: date

            });
            var table = $('#example').DataTable({
                scrollY: "300px",
                scrollX: true,
                scrollCollapse: true,
                paging: false,
                searching: false,
                bInfo: false,
                autoWidth: true,
                fixedColumns: {
                    leftColumns: 6
                },
                columnDefs: [
      {
          "targets": [2, 3, 4, 5, 8],
          "visible": false
      }
                ],
            });



        });

        function GenerateTAVSummaryByEmployeeReportPDF(empid) {
            location.href = '@Url.Content("~/YearlyReports/PrintTAVSummaryByEmployeeReport")' + '?year=' + $('#payslipBatchHeader_Year').val() + '&empId=' + empid;
        }

        function DownloadPaySlip(empid) {
            location.href = '@Url.Content("~/YearlyReports/DownloadEmployeePayslip")' + '?year=' + $('#payslipBatchHeader_Year').val() + '&month=' + $('#payslipBatchHeader_Month').val() + '&empId=' + empid;

        }

        //function getprocesslist() {
        //    $('#payslipBatchHeader_Month').val($('#payslipBatchHeader_Month').val());
        //    $('#processpayrolllist').submit();
        //}
        function getprocesslist() {
            debugger;
            var month = $('#payslipBatchHeader_Month').val();
            var year = $('#payslipBatchHeader_Year').val();


            $('#currentmonth').val(month);
            $('#currentyear').val(year);
            $('#frm2').submit();
            $.loader({
                className: "blue-with-image-2",
                content: '',
            });

            @*$.ajax({
                url: '@Url.Content("~/PayrollBatch/ProcessPayrollGeneration?currentmonth=")' + month + '&currentyear=' + year,
                contentType: 'application/json',
                method: 'Post',
                success: function (data) {
                    debugger;
                },
                error:function (err){

                }
            });*@
        }
        function ConfirmProcess() {
            debugger
            if ($('#confirmprocesspayroll').valid()) {
                $('#errorMsg').html('');
                $.ajax({
                    url: '@Url.Content("~/PayrollBatch/IsValidProcessPayrollGeneration?year=")' + $('#payslipBatchHeader_Year').val() + '&month=' + $('#payslipBatchHeader_Month').val(),
                    contentType: 'application/json',
                    method: 'Post',
                    success: function (data) {
                        debugger;
                        if (data.success) {
                            $('#errorMsg').html(data.message);
                        }
                        else {
                            location.href = '@Url.Content("~/PayrollBatch/confirmprocesspayrollBySP")' + '?year=' + $('#payslipBatchHeader_Year').val() + '&month=' + $('#payslipBatchHeader_Month').val();
                            //$('#confirmprocesspayroll').submit();
                            debugger;
                            swal({
                                title: "Payroll Generated Successfully",
                                text: "",
                                closeOnConfirm: true,
                                confirmButtonText: "Ok",
                                confirmButtonClass: "btn-primary",
                                timer: 5000
                            },
                                 function () {
                                     $.loader({
                                         className: "blue-with-image-2",
                                         content: '',
                                     });
                                 })
                        }
                    },
                    error: function (err) {

                    }
                });
            }
            else {
                swal("Incorrect Inputs");
            }

        }

        //$("#button-btn").click(function () {
        //    $("#dtid").show();
        //    $("#dtid2").show();
        //});

        //$(document).ready(function () {
        //    $("#dtid").hide();
        //    $("#dtid2").hide();
        //});
        //function getpayrolllist(el) {

        //    $('#processpayrolllist').submit();
        //}

        //$("#button-btn").click(function () {
        //    $("#dtid2").css("display", "block");
        //});
    </script>
}


