﻿@model IEnumerable<HR.Web.Models.LookUp>
@{
    int offSet = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["appTableOffSet"]);
    WebGrid grid = new WebGrid(Model, rowsPerPage: offSet, ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}
@section Styles {
    <style type="text/css">
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
    
}

    <div class="page">
        <div class="page-wrap">
            <div class="panel panel-default">
                <div class="center-block width">
                    <div class="box" id="grid">

                        <div class="box-header">
                            <h4>Employee Designation</h4>
                            <div class="box-tools">
                                <button class="btn btn-info btn-raised waves-effect btn-sm ajaxCss" type="button" onclick="editEmpDesignation(-1);"><i class="fa fa-plus"></i> Add</button>
                            </div>
                        </div>
                        <div class="box-body">
                            <div class="row">
                                <div class="col-md-12">
                                    @grid.GetHtml(
     columns: grid.Columns(
     grid.Column("LookUpCode", "Designation Name", canSort: true),
     grid.Column("LookUpDescription", "Designation Description", canSort: true),
     //grid.Column("IsActive", "Status"),
     grid.Column("", "#Action", canSort: false,
     format: @<text>
        <button class="btn btn-xs btn-raised waves-effect btn-sm ajaxCss" style="padding-left: 5px;margin-left: 6px;" onclick="editEmpDesignation(@item.LookUpID)"><i class="fa fa-pencil" style="padding-left: 5px;"></i></button>
        <button class="btn btn-xs btn-danger btn-sm" style="padding-left: 5px;margin-left: 6px;" onclick="deletedesignation(@item.LookUpID)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
    </text>)),
     tableStyle: "table table-condensed table-bordered")
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <div>@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>

@using (Html.BeginForm("SaveEmployeeDesignation", "Config", FormMethod.Post, new { id = "frm", name = "frm" }))
{
    <div id="myDesignationModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Employee Designation</h4>
                </div>
                <div class="modal-body" id="modalContent1">

                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary btn-sm" onclick="SaveDesignation()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                </div>
            </div>

        </div>
    </div>
}
@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#li_Master').addClass('open');
            $('#li_empdesignation').addClass('active');
        });
        function editEmpDesignation(lookupID) {
            $.ajax({
                url: '@Url.Content("~/Config/GetEmployeeDesignation?lookupID=")' + lookupID,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    StopLoadingAnimation();
                    $('#myDesignationModal').modal('show');
                    $('#modalContent1').html('');
                    $('#modalContent1').html(data);
                },
                error: function (err) {

                }
            });
        }
        function deletedesignation(LookUpID) {
            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this Record?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Delete",
                confirmButtonClass: "btn-danger"
            },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = '@Url.Content("~/Config/DesignationDelete?lookupid=")' + LookUpID;
                    swal("Deleted!", "You have successfully Deleted", "success");
                }
                else {
                    swal("Cancelled", "", "error");
                }
            }
            )

        }


        $('#frm').validate({
            rules: {
                LookUpCode: {
                    required: true,
                    maxlength:50
                },
                LookUpDescription: {
                    required: true,
                    maxlength:50
                }
            }
         
        });

        function SaveDesignation() {
            if ($('#frm').valid()) {
                $('#frm').submit();
                swal({
                    title: "Saved Successfully",
                    text: "",
                    closeOnConfirm: true,
                    confirmButtonText: "Ok",
                    confirmButtonClass: "btn-primary",
                    timer:5000
                },
                function () {
                        $.loader({
                            className: "blue-with-image-2",
                            content: '',
                        });
                    })
                //swal("Saved Successfully");
            }
            else {
                swal("Incorrect Inputs");
            }
        }

    </script>
}
<style>
     .Grid-Footer > td {
     padding-top: 10px;
     text-align: right;
     margin-bottom: 10px;
     }

     .Grid-Footer > td > a {
     background: #fff;
     display: inline-block;
     border-radius: 1px;
     padding: 6px 12px;
     font-size: 16px;
     cursor: pointer;
     border: 2px solid #eeeeee;
     }

     .Grid-Footer> td > a:hover {
     color: #3f51b5;
     text-decoration: none;
     }
    </style>
















