﻿@model HR.Web.Models.LookUp
<style>
    #error {
        display: none;
        color: Red;
    }
</style>
<div class="row">
    @Html.HiddenFor(x => x.LookUpID)
    @*@Html.HiddenFor(x => x.IsActive)*@
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right"> Leave Type</span>
        </label>
        @if (Model.LookUpID == -1)
        {
            <div class="col-md-8">
                @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm uppercase", onblur = "checkLeaveType(this)", @maxlength = "50" })
                <label id="error">Leave Type Already Exists.</label>
            </div>
        }
        else
        {
            if (Model.LookUpCode == "SICKLEAVE" || Model.LookUpCode == "PAIDLEAVE" || Model.LookUpCode == "CASUALLEAVE")
            {
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm uppercase", @maxlength = "50" ,@readonly="true"})
                </div>
            }
            else
            {
                <div class="col-md-8">
                    @Html.TextBoxFor(x => x.LookUpCode,
            new { @class = "form-control input-sm uppercase", @maxlength = "50" })
                </div>
            }

        }
    </div>
</div>
<div class="row css10">
    <div class="form-group">
        <label class="col-md-4 control-label">
            <span class="pull-right"> Leave Description</span>
        </label>
        <div class="col-md-8">
            @if (Model.LookUpCode == "SICKLEAVE" || Model.LookUpCode == "PAIDLEAVE" || Model.LookUpCode == "CASUALLEAVE")
            {
                @Html.TextAreaFor(x => x.LookUpDescription,
            new { @class = "form-control input-sm uppercase", @maxlength = "50", @readonly = "true" })
            }
            else
            {

                @Html.TextAreaFor(x => x.LookUpDescription,
            new { @class = "form-control input-sm uppercase", @maxlength = "50" })
            }
        </div>
    </div>
</div>
<div class="row">
    <label class="col-md-4 control-label">
        <span class="pull-right">Carry Forward</span>
    </label>
    <div class="col-md-1">
        <div style="margin-top:10px;">
            @Html.CheckBoxFor(x => x.IsCarryForward)
        </div>
    </div>
    <label class="col-md-3 control-label">
        <span class="pull-right">Weekend Policy</span>
    </label>
    <div class="col-md-2">
        <div style="margin-top:10px;">
            @Html.CheckBoxFor(x => x.IsWeekendPolicy)
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $('input').iCheck({
            checkboxClass: 'icheckbox_flat-blue',
            radioClass: 'iradio_flat-blue',
            increaseArea: '20%' // optional
        });
    });
    function checkLeaveType(el) {
        $.ajax({
            url: '@Url.Content("~/Config/IsLeaveTypeExist?LeaveType=")' + $('#LookUpCode').val(),
            method: 'get',
            contentType: 'Json',
            success: function (result) {
                if (result == "True") {
                    $('#error').show();
                    $('#LookUpCode').val('');
                    $('#error').fadeOut(5000);
                }
                else {
                    $('#error').hide();
                }
            },
            error: function (err) {
                return result;
            }

        });
    }
</script>




