﻿@model IEnumerable<HR.Web.Models.LookUp>

@{
    ViewBag.Title = "LeaveType";
}
@{
    int offSet = Convert.ToInt32(System.Configuration.ConfigurationManager.AppSettings["appTableOffSet"]);
    WebGrid grid = new WebGrid(Model, rowsPerPage: offSet, ajaxUpdateContainerId: "grid");
    grid.Pager(WebGridPagerModes.All);
}
@section Styles {
    <style type="text/css">
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
}
<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="box" id="grid">
                    <div class="box-header">
                        <h4>Leave Type</h4>
                        <div class="box-tools">
                            <button class="btn btn-info btn-raised waves-effect btn-sm ajaxCss" type="button" onclick="editLeaveType(-1);"><i class="fa fa-plus"></i> Add</button>
                        </div>
                    </div>
                    <div class="box-body">
                        <div class="row">
                            <div class="col-md-12">
                                @grid.GetHtml(
                            footerStyle: "Grid-Footer",
                            columns: grid.Columns(
                            grid.Column("LookUpCode", "Type Of Leave", canSort: true),
                            grid.Column("LookUpDescription", "Leave Description", canSort: true),
                            //grid.Column("IsActive", "Status", canSort: false),
                            @*grid.Column("IsActive", "Status", format:@<text><input type="checkbox" value="@item.IsActive" data-toggle="toggle"></text>),*@
                            grid.Column("", "#Action", canSort: false, format: 
                            @<text>
                                @if (item.LookUpCode == "CASUALLEAVE" || item.LookUpCode == "PAIDLEAVE" || item.LookUpCode=="SICKLEAVE")
                                {
                                    <button class="btn btn-xs btn-raised waves-effect btn-sm ajaxCss" onclick="editLeaveType(@item.LookUpID)" style="padding-left: 5px;margin-left: 6px;"><i class="fa fa-pencil" style="padding-left: 5px;"></i></button>
                                    @*<button class="btn btn-xs btn-danger btn-sm" style="padding-left: 5px;margin-left: 6px;" onclick="deleteLeaveList(@item.LookUpID)" hidden>
                                        <i class="fa fa-trash-o" style="padding-left: 5px;"></i>
                                    </button>*@
                                }
                                else
                                {
                                    <button class="btn btn-xs btn-raised waves-effect btn-sm ajaxCss" onclick="editLeaveType(@item.LookUpID)" style="padding-left: 5px;margin-left: 6px;"><i class="fa fa-pencil" style="padding-left: 5px;"></i></button>
                                    <button class="btn btn-xs btn-danger btn-sm" style="padding-left: 5px;margin-left: 6px;" onclick="deleteLeaveList(@item.LookUpID)"><i class="fa fa-trash-o" style="padding-left: 5px;"></i></button>
                                }
                           
                                </text>)),
                            tableStyle: "table table-condensed table-bordered")
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-sm-12">
                                <div>@grid.PagerList(mode: WebGridPagerModes.All, paginationStyle: "pagination pagination-sm")</div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            </div>
        </div>
    </div>

@using (Html.BeginForm("SaveLeaveType", "Config", FormMethod.Post, new { id = "frm", name = "frm" }))
{
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Add Leave Type</h4>
                </div>
                <div class="modal-body" id="modalContent">

                </div>
                <div class="modal-footer">
                    <button type="submit" onclick="SaveChanges()" class="btn btn-primary btn-sm"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                    <button type="button" class="btn btn-default btn-sm" data-dismiss="modal"><i class="fa fa-times" aria-hidden="true"></i>Close</button>
                    
                </div>
            </div>

        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#li_Master').addClass('open');
            $('#li_leave1').addClass('active');
        });
        function editLeaveType(lookupID) {
            $.ajax({
                url: '@Url.Content("~/Config/GetLeaveType?lookupID=")' + lookupID,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    StopLoadingAnimation();
                    $('#myModal').modal('show');
                    $('#modalContent').html('');
                    $('#modalContent').html(data);
                }
            });
        }
        function deleteLeaveList(LookUpID) {
            swal({
                title: "Are you sure?",
                text: "Are you sure that you want to delete this Record?",
                type: "warning",
                showCancelButton: true,
                closeOnConfirm: false,
                confirmButtonText: "Delete",
                confirmButtonClass: "btn-danger"
            },
            function (isConfirm) {
                if (isConfirm) {
                    location.href = '@Url.Content("~/Config/LeaveListDelete?lookupid=")' + LookUpID;
                        swal("Deleted!", "You have successfully Deleted", "success");
                    }
                    else {
                        swal("Cancelled", "", "error");
                    }
            }
            )

        }
        $('#frm').validate({
            rules: {
                LookUpCode: {
                    required: true,
                    maxlength:50
                },
                LookUpDescription: {
                    required: true,
                    maxlength:50
                }
            }
        });
        function SaveChanges() {
            if ($('#frm').valid()) {
                $('#frm').submit();
                swal({
                    title: "Saved Successfully",
                    text: "",
                    closeOnConfirm: true,
                    confirmButtonText: "Ok",
                    confirmButtonClass: "btn-primary",
                    timer: 5000
                },
              function () {
                  $.loader({
                      className: "blue-with-image-2",
                      content: '',
                  });
              })
            }
            else {
                swal("Incorrect Inputs");
            }
        }




    </script>
}
<style>
    .Grid-Footer > td {
        padding-top: 10px;
        text-align: right;
        margin-bottom: 10px;
    }

        .Grid-Footer > td > a {
            background: #fff;
            display: inline-block;
            border-radius: 1px;
            padding: 6px 12px;
            font-size: 16px;
            cursor: pointer;
            border: 2px solid #eeeeee;
        }

            .Grid-Footer > td > a:hover {
                color: #3f51b5;
                text-decoration: none;
            }
</style>













