﻿@model HR.Web.ViewModels.EmpDirectoryVm

@section Styles{

    <style>

        .page-dashboard .profile-widget .right-side > img {
            width: 52px;
            height: 52px;
            border-radius: 100%;
        }

        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 80%;
        }
        .panl-height{
            height:250px;
        }
       
        #email {
    overflow:hidden;
    text-overflow:ellipsis;
}
        

    </style>
}

<div class="page">

    <div class="page-wrap">
        <div class="panel panel-default">

            <div class="panel-heading">
                @*<h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapse1" style="font-size:16px;font-weight:bold">Advanced Search</a>
                </h4>*@
                Advanced Search
            </div>
            @*<div id="collapse1" class="panel-collapse collapse">*@

                <div class="panel-body">
                    @using (Html.BeginForm("empsearch", "Employee", FormMethod.Post, new { id = "frmSearch", name = "frmSearch" }))
                    {
                        <div class="row">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Name</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.TextBoxFor(x => x.empSearch.EmployeeName, new { @class = "form-control input-sm uppercase", placeholder = "fname/lname/mname" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Date Of Joining</span>
                                </label>
                                <div class="col-md-3">
                                    <div class="input-group input-sm date dtCss" id="DOJDt">
                                        @Html.TextBoxFor(x => x.empSearch.DOJ, new { @class = "form-control dtCssTxt input-sm" })
                                        <span class="input-group-addon">
                                            <i class="ion ion-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="form-group">
                                <label class="col-md-2 control-label">
                                    <span class="pull-right">Designation</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.empSearch.Designation,
                             SelectListItemHelper.Designation((int)ViewData["BranchId"]),
                             "Select Designation",
                             new { @class = "form-control input-sm" })
                                </div>
                                <label class="col-md-1 control-label">
                                    <span class="pull-right">Type</span>
                                </label>
                                <div class="col-md-3">
                                    @Html.DropDownListFor(x => x.empSearch.EmployeeType,
                             SelectListItemHelper.EmployeeType(),
                             "Select Type",
                             new { @class = "form-control input-sm" })
                                </div>
                                <div class="col-md-2 col-md-offset-1">
                                    <button type="button" class="btn btn-info btn-raised waves-effect btn-sm" onclick="SearchEmployee()"><i class="fa fa-search"></i><b>Search</b></button>
                                    @*<button type="button" id="refresh_button" class="btn btn-info btn-raised waves-effect btn-sm">Refresh</button>*@
                                </div>
                            </div>
                        </div>
                    }
                </div>

            </div>
       
        @*</div>*@
        <div class="panel panel-default">

            <div class="box">
                <div class="center-block width">
                    <div class="box-header">
                        <h4>Employee List</h4>
                        <div class="box-tools">

                            <div class="btn-toolbar">
                                <div class="btn-group">
                                    <button type="button" id="btnTile" class="btn btn-default" onclick="showTile()"><i class="fa fa-th" aria-hidden="true"></i></button>
                                    <button type="button" id="btnGrid" class="btn btn-default active" onclick="showGrid()"><i class="fa fa-bars" aria-hidden="true"></i></button>
                                </div>



                                <button class="btn btn-info btn-raised waves-effect btn-sm ajaxCss" type="button"
                                        onclick="location.href = '@Url.Content("~/Employee/add?EmployeeId=")'">
                                    <i class="fa fa-plus"></i> <b>Create</b>
                                </button>
                            </div>
                        </div>
                    </div>

                    <div class="box-body">

                        <div class="row" id="tableGrid">
                            <div class="col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-condensed table-bordered">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <th>Job Title</th>
                                                <th style="white-space:nowrap;">Official Email</th>
                                                <th style="white-space:nowrap;">Personal Email</th>
                                                @*<th>Department</th>
                                                    <th>Desigation</th>
                                                    <th>Manager</th>*@
                                                <th style="white-space:nowrap;">Contact No</th>
                                                @*<th style="white-space:nowrap">Alternate No</th>*@
                                                <th>#Action</th>
                                            </tr>
                                        </thead>
                                        <tbody id="tBody"></tbody>
                                    </table>
                                </div>
                            </div>
                        </div>

                        <div class="row" id="tiles">

                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div id="pagination"></div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script src="~/Scripts/Core/jquery.tmpl.min.js"></script>


    <script id="tableTemplate" type="text/html">
        <tr>
            <td>${EmployeeName}</td>
            <td style="white-space:nowrap">${JobTitle}</td>
            <td>${OfficialEmailId}</td>
            <td>${PersonalEmailId}</td>
            @*<td>${Department}</td>
                <td>${Desigation}</td>
                <td>${Manager}</td>*@
            <td>${ContactNo}</td>
            @*<td>${AlternateNo}</td>*@
            <td>
                <button class="btn btn-xs btn-raised waves-effect btn-sm waves-effect"
                        style="padding-left: 5px;margin-left: 6px;" onclick="location.href = '@Url.Content("~/Employee/add?EmployeeId=")${EmployeeId}';LoadingAnimation()">
                    <i class="fa fa-pencil" style="padding-left: 5px;"></i>
                </button>
                <button class="btn btn-xs btn-danger  btn-sm "
                        style="padding-left: 5px;margin-left: 6px;" onclick="location.href = '@Url.Content("~/Employee/EmployeeDelete?EmployeeId=")${EmployeeId}';LoadingAnimation()">
                    <i class="fa fa-trash" style="padding-left: 5px;"></i>
                </button>
            </td>
        </tr>
    </script>
    <script id="tileTmplate" type="text/html">
        <div class="col-md-4 col-sm-6" style="cursor:pointer;" onclick="location.href = '@Url.Content("~/Employee/add?EmployeeId=")${EmployeeId}'">
            <div class="panel panel-default mb20 panl-height panel-hovered profile-widget">
                <div class="panel-body">
                    <div class="clearfix mb15 top-info">

                        <div class="right">
                            <img height="60" width="60"
                                 src="${imgPath + EmployeeId + '/' + DocumentDetailID + '/' + ProfilePic}"
                                 onerror="this.src='@Url.Content("~/Images/user.png")'"
                                 class="img-circle"
                                 alt=""
                                 style="cursor:pointer">
                            @*<button><i class="fa fa-user" aria-hidden="true"></i></button>*@
                        </div>
                        <div class="left-side">

                            <h3 class="text-light mt0">${EmployeeName}</h3>
                            <p><strong>Designation:&nbsp;</strong>${JobTitle}</p>
                            <p id="email"><strong>Email:&nbsp;</strong><span>${PersonalEmailId}</span></p>
                            <p><strong>Contact No: </strong>${ContactNo}</p>
                        </div>

                    </div>

                </div> <!-- #end panel-body -->
            </div>
        </div>

    </script>


    <script type="text/javascript">
        var imgPath = '@Url.Content("~/Uploads/")';

        var empObj = {
            EmployeeName: $('#empSearch_EmployeeName').val(),
            DOJ: $('#empSearch_DOJ').val(),
            EmployeeNumber: $('#empSearch_EmployeeNumber').val(),
            Designation: $('#empSearch_Designation').val(),
            EmployeeType: $('#empSearch_EmployeeType').val(),
            isSerach: false,
            pageNumber: 1
        }

        var Arr;
        function getDataCallBack(data) {
            debugger
            Arr = new Array();
            Arr = data;

            $("#tBody").html('');
            if (data.employeeVm.length > 0)
                $("#tableTemplate").tmpl(data.employeeVm).appendTo("#tBody");

            if ($('#btnTile').hasClass('active'))
                showTile();
        };

        function callBack(event, num) {
            debugger;
            if (!empObj.isSerach) {
                var promise = getDataPromise(num);
                $.when(promise).done(function (data) {
                    getDataCallBack(data);

                });
            } else {
                empObj.pageNumber = num;
                var promise1 = SearchEmployee();
                $.when(promise1).done(function (data) {
                    debugger;
                    getDataCallBack(data);

                });

            }
        };

        function getDataPromise(number) {
            var deffered = $.Deferred();
            $.ajax({
                url: '@Url.Content("~/Employee/GetGridTileEmployees?pageNumber=")' + number,
                type: 'GET',
                contentType: 'application/json',
                success: function (data) {
                    deffered.resolve(data);
                },
                error: function (err) {
                    deffered.reject(err);
                }
            });

            return deffered.promise();
        };

        $(function () {

            $('#tableGrid').show();
            $('#tiles').hide();

            var promise;
            if (!empObj.isSerach) {
                promise = getDataPromise(1);
            }
            else
                promise = SearchEmployee();
            $.when(promise).done(function (data) {
                debugger;
                getDataCallBack(data);
                $('#pagination').bootpag({
                    total: data.PagerLength,
                    page: 1,
                    maxVisible: 6,
                    leaps: false,
                    next: 'next',
                    prev: 'prev',
                    wrapClass: 'pagination pagination-sm'
                }).on('page', callBack);
            });


            $('#li_Employee').addClass('open');
            $('#li_empdir').addClass('active');

            $('.dtCss').datetimepicker({
                icons: {
                    time: 'fa fa-clock-o',
                    date: 'fa fa-calendar',
                    up: 'fa fa-arrow-up',
                    down: 'fa fa-arrow-down',
                    previous: 'fa fa-arrow-left',
                    next: 'fa fa-arrow-right'
                },
                format: dateFormat
            });

            $('th').each(function (col) {
                $(this).hover(
                function () { $(this).addClass('focus'); },
               function () { $(this).removeClass('focus'); }
               );
                $(this).click(function () {
                    if ($(this).is('.asc')) {
                        $(this).removeClass('asc');
                        $(this).addClass('desc selected');
                        sortOrder = -1;
                    }
                    else {
                        $(this).addClass('asc selected');
                        $(this).removeClass('desc');
                        sortOrder = 1;
                    }
                    $(this).siblings().removeClass('asc selected');
                    $(this).siblings().removeClass('desc selected');
                    var arrData = $('table').find('tbody >tr:has(td)').get();
                    arrData.sort(function (a, b) {
                        var val1 = $(a).children('td').eq(col).text().toUpperCase();
                        var val2 = $(b).children('td').eq(col).text().toUpperCase();
                        if ($.isNumeric(val1) && $.isNumeric(val2))
                            return sortOrder == 1 ? val1 - val2 : val2 - val1;
                        else
                            return (val1 < val2) ? -sortOrder : (val1 > val2) ? sortOrder : 0;
                    });
                    $.each(arrData, function (index, row) {
                        $('tbody').append(row);
                    });
                });
            });
        });
        $('#refresh_button').click(function () {
            location.reload();
        });
        function showTile() {
            debugger;
            $("#tiles").html('');
            $("#tileTmplate").tmpl(Arr.employeeVm).appendTo("#tiles");
            $('#btnTile').addClass('active');

            $('#btnGrid').removeClass('active');
            $('#tableGrid').hide();
            $('#tiles').show();

        }
        function showGrid() {
            $('#btnTile').removeClass('active');

            $('#btnGrid').addClass('active');
            $('#tableGrid').show();
            $('#tiles').hide();

        }

        function SearchEmployee() {
            debugger;
            empObj.EmployeeName = $('#empSearch_EmployeeName').val();
            empObj.DOJ = $('#empSearch_DOJ').val();
            empObj.EmployeeNumber = $('#empSearch_EmployeeNumber').val();
            empObj.Designation = $('#empSearch_Designation').val();
            empObj.EmployeeType = $('#empSearch_EmployeeType').val();
            empObj.isSerach = true;
            var deffered = $.Deferred();
            $.ajax({
                url: '@Url.Content("~/Employee/empsearchajax")',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify(empObj),
                success: function (obj) {
                   
                    if (obj.PagerLength == 1 || obj.PagerLength == 0) {
                        $('#pagination').hide();
                        getDataCallBack(obj);
                    }
                    else {
                        if (obj.PagerLength > 1)
                            $('#pagination').show();
                        getDataCallBack(obj);
                    }
                    $('#pagination').bootpag({
                        total: obj.PagerLength
                    });
                    deffered.resolve(obj);
                },
                error: function (err) {
                    deffered.reject(err);
                }
            });

            return deffered.promise();

        }
        //$(document).ready(function() {
              
        //});

    </script>
}
