﻿@model HR.Web.Models.Contribution
<style>
    #error {
        display: none;
        color: Red;
    }
</style>
<link href="~/Css/sweetalert.css" rel="stylesheet" />
@using (Html.BeginForm("ContributionSave", "PayRoll", FormMethod.Post, new { id = "contributionfrm", name = "contributionfrm" }))
{
    <div class="page">
        <div class="page-wrap">
            <div class="panel-group">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Contribution registers
                    </div>
                    <div class="panel-body">
                        @Html.HiddenFor(x => x.ContributionId)
                        @if (ViewData["RoleCode"].ToString() == UTILITY.ROLE_SUPERADMIN)
                        {
                        <div class="row">
                            <label class="col-md-2 control-label">
                                    <span class="pull-right">Branch</span>
                                </label>
                                <div class="col-md-8">
                                    @Html.DropDownListFor(x => x.BranchId, SelectListItemHelper.Branches(), "Select Branch", new { @class = "form-control input-sm" })
                                </div>
                            </div>

                        }
                        else
                        {
                            @Html.HiddenFor(x => x.BranchId)
                        }

                        <div class="row">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Name</span>
                            </label>
                                <div class="col-md-4">
                                    @Html.TextBoxFor(x => x.Name, new { @class = "form-control input-sm uppercase" })
                                </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Register Code</span>
                            </label>
                            @{
                                var ContributionRegister = SelectListItemHelper.Deductions();
                            }
                            @if (Model.ContributionId != 0)
                            {
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.RegisterCode,
                                                                    new SelectList(ContributionRegister,
                                                                    "Value", "Text", Model.RegisterCode), "", new { @class = "form-control input-sm"})
                                </div>
                            }
                            else
                            {
                                <div class="col-md-4">
                                    @Html.DropDownListFor(x => x.RegisterCode,
                                                                    new SelectList(ContributionRegister,
                                                                    "Value", "Text", Model.RegisterCode), "", new { @class = "form-control input-sm", onchange = "checkComponent(this)" })
                                    <label id="error">Salary Component Already Exists.</label>
                                </div>
                            }
                            
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Description</span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextAreaFor(x => x.Description, new { @class = "form-control input-sm uppercase" })
                            </div>
                        </div>
                        <div class="row css5">
                            <label class="col-md-2 control-label">
                                <span class="pull-right">Sort Order</span>
                            </label>
                            <div class="col-md-4">
                                @Html.TextBoxFor(x => x.SortBy, new { @class = "form-control input-sm numCss" })
                            </div>
                        </div>
                        <div class="row css10">
                            <div class="form-group ">
                                <div class="col-md-6"></div>
                                <div class="col-md-4">
                                    <button class="btn btn-primary btn-sm" onclick="ContributionSave()"><i class="fa fa-floppy-o" aria-hidden="true"></i>Save</button>
                                    <button class="btn btn-primary btn-sm ajaxCss" type="reset" onclick="location.href='@Url.Content("~/PayRoll/ContributionRegisterList/")'"><i class="fa fa-arrow-left"></i><b>Back</b></button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
                                }
<link href="~/Css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/Core/sweetalert.js"></script>
@section Scripts{
    <script type="text/javascript">
        function ContributionSave() {
            if ($('#contributionfrm').valid()) {
                $('#contributionfrm').submit();
                swal({
                    title: "Saved Successfully",
                    text: "",
                    closeOnConfirm: true,
                    confirmButtonText: "Ok",
                    confirmButtonClass: "btn-primary",
                    timer: 5000
                },
                       function () {
                           $.loader({
                               className: "blue-with-image-2",
                               content: '',
                           });
                       })
            }
            else {
                swal("Incorrect Inputs");
            }
        }
        $('#contributionfrm').validate({
            rules: {
                Name: {
                    required: true,

                },
                Description: {
                    required: true,

                },
                RegisterCode:{
                    required:true
                },
                BranchId: {
                    required: true,
                }
            }
        });
        $(function () {
            $('#li_PayRollConfig').addClass('open');
            $('#li_ContributionRegisterList').addClass('active');
        });
        function checkComponent(el) {
     
            $.ajax({
                url: '@Url.Content("~/PayRoll/IsSalaryComponentExists?component=")' + $('#Name').val() + '&regCode=' + $('#RegisterCode').val() + '&BranchId=' + $('#BranchId').val(),
                method: 'get',
                contentType: 'Json',
                success: function (result) {
                    if (result == "True") {
                        $('#error').show();
                        $('#Name').val('');
                        $('#RegisterCode').val('');
                        $('#error').fadeOut(5000);
                    }
                    else {
                        $('#error').hide();
                    }
                },
                error: function (err) {
                    return result;
                }

            });
        }

    </script>
}