﻿@model HR.Web.ViewModels.HtmlTblVm<HR.Web.Models.Contribution>
@section Styles{
    <style>
        .pagination {
            display: table;
            margin: 15px auto;
            position: relative;
            float: right;
        }

        .width {
            width: 60%;
        }
    </style>
}




<div class="page">
    <div class="page-wrap">
        <div class="panel panel-default">
            <div class="center-block width">
                <div class="panel-heading">
                    Salary Components
                </div>
                <div class="panel-body">
                    <div class="row">
                        <div class="col-md-4">
                            @if (ViewData["RoleCode"].ToString() == UTILITY.ROLE_SUPERADMIN)
                            {
                                using (Html.BeginForm("ContributionRegisterList", "PayRoll", FormMethod.Get, new { id = "frmcontributionlist", name = "frmcontributionlist" }))
                                {
                                    @Html.DropDownList("BranchId", SelectListItemHelper.Branches(), "Select Branch", new { @class = "form-control input-sm", onchange = "getcontributionlist(this)" })
                                }
                            }
                        </div>

                        <div class="col-md-12">
                            <button class="btn btn-primary btn-sm ajaxCss pull-right" onclick="location.href='@Url.Content("~/PayRoll/ContributionRegister?ContributionId=-1")'"><i class="fa fa-plus-square"></i>&nbsp;Create</button>
                        </div>
                    </div>
                    <table class="table table-conden table-bordered">
                        <thead>
                            <tr>
                                <th>
                                    Name
                                </th>
                                <th>
                                    Code
                                </th>
                                <th>
                                    Description
                                </th>
                                <th>
                                    #Action
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (var i = 0; i < Model.TableData.Count(); i++)
                            {

                                <tr>
                                    <td>
                                        @Model.TableData[i].Name
                                    </td>
                                    <td>
                                        @Model.TableData[i].RegisterCode
                                    </td>
                                    <td>
                                        @Model.TableData[i].Description
                                    </td>
                                    <td>
                                        <button class="btn btn-xs btn-raised waves-effect btn-sm ajaxCss" style="padding-left: 5px;margin-left: 6px;"
                                                onclick="location.href='@Url.Content("~/PayRoll/ContributionRegister?ContributionId=" + Model.TableData[i].ContributionId)'">
                                            <i class="fa fa-pencil" style="padding-left: 5px;"></i>
                                        </button>
                                        @*<button class="btn btn-xs btn-danger waves-effect btn-sm" style="padding-left: 5px;margin-left: 6px;" onclick="deleteRecord(@Model.TableData[i].ContributionId)">
                            <i class="fa fa-trash-o" style="padding-left: 5px;" aria-hidden="true"> </i>
                        </button>*@
                                    </td>
                                </tr>

                            }
                        </tbody>

                    </table>
                    <div class="row">
                        <div class="col-md-12">
                            <div id="pagination"></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<link href="~/Css/sweetalert.css" rel="stylesheet" />
<script src="~/Scripts/Core/sweetalert.js"></script>
@section Scripts{
    <script src="~/Scripts/Core/jquery.bootpag.min.js"></script>
    <script type="text/javascript">
    $(function () {
        $('#li_PayRollConfig').addClass('open');
        $('#li_ContributionRegisterList').addClass('active');
        var branchid=$('#BranchId').val();
        $('#pagination').bootpag({
            total: @Model.PageLength,
            page: @Model.CurrentPage,
            maxVisible: 10,
            href: '@Url.Content("~/PayRoll/ContributionRegisterList?branchid=")' +branchid+'&page={{number}}',  //"#pro-page-{{number}}",
                leaps: false,
                next: 'Next',
                prev: 'Prev',
                wrapClass: 'pagination pagination-sm'
            }).on('page', function (event, num) {
                $(".content3").html("Page " + num); // or some ajax content loading...
            });
        });


        var gContributionId = -1;
        function deleteRecord(ContributionId) {
            gContributionId = ContributionId;
            swal({
                title: "Are you sure?",
                text: "you want to delete!",
                type: "warning",
                showCancelButton: true,
                confirmButtonClass: "btn-danger",
                confirmButtonText: "Delete",
                cancelButtonText: "Cancel",
                closeOnConfirm: false,
                closeOnCancel: false
            },
           function (isConfirm) {
               if (isConfirm) {
                   location.href = '@Url.Content("~/PayRoll/ContributionDelete/?contributionid=")' + gContributionId;
                   swal("Applied!", "You have successfully applied the leave.", "success");
               } else {
                   swal("Cancelled", "", "error");
               }
           });



        }
        function getcontributionlist(el) {
            $('#frmcontributionlist').submit();
            $.loader({
                className: "blue-with-image-2",
                content: '',
            });
        }


    </script>

}