﻿@model List<HR.Web.Models.TravelClaimHeader>

@using (Html.BeginForm("ApproveTravelClaim", "PayRoll", FormMethod.Post, new { id = "frm", name = "frm" }))
{
    <div class="page">
        <div class="page-wrap">
            <div class="panel panel-default">
                <div class="center-block width">
                    <div class="panel-heading">
                        Process Travel Claim
                    </div>
                    <div class="panel-body">
                        <table class="table table-conden table-bordered">
                            <thead>
                                <tr>
                                    <th></th>
                                    <th>TravelClaim No</th>
                                    <th>Employee Name</th>
                                    <th>Submission Date</th>
                                    <th>Total Claim</th>
                                    <th>Total Amount Paid</th>
                                    <th>#Action</th>
                                </tr>
                            </thead>
                            <tbody>

                                @for (var i = 0; i < Model.Count; i++)
                                {

                                    <tr id="len_@i" class="length">
                                        <td>
                                            @Html.CheckBox("[" + i + "].IsChecked", new { @class = "myChk", id = i + "_IsChecked", data_index = i })
                                            @Html.HiddenFor(x => Model[i].EmployeeId)
                                            @Html.HiddenFor(x => Model[i].TravelClaimId)
                                            @Html.HiddenFor(x => Model[i].BranchId)
                                        </td>
                                        <td>@Model[i].ClaimNo</td>
                                        <td>@Model[i].Name</td>
                                        <td>@Model[i].CreatedOn.Value.ToString("dd/MM/yyyy")</td>
                                        <td>@Model[i].GrossTotal</td>
                                        <td>@Html.TextBoxFor(x => Model[i].TotalAmtPaid, new { @class = "form-control input-sm decimalCss txtCss", id =  i + "_TotalAmtPaid" })</td>
                                        <td>
                                            <button type="button" class="btn btn-primary btn-sm" onclick="view(@Model.ElementAt(i).TravelClaimId)"><i class="fa fa-eye"></i>View</button>
                                        </td>
                                    </tr>
                                }

                            </tbody>

                        </table>
                        <div class="row">
                            <div class="col-md-12">
                                <button class="btn btn-primary btn-sm" type="button" onclick="Approve()">
                                    <i class="fa fa-check"></i>
                                    Approve
                                </button>
                                <button class="btn btn-primary btn-sm" type="button" onclick="Reject()">
                                    <i class="fa fa-times"></i>
                                    Reject
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
}
<div id="myPreviewModal" class="modal fade" role="dialog">
    <div class="modal-dialog" style="width:1250px;">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title"><b>Preview</b></h4>
                <button class="close" data-dismiss="modal" aria-hidden="true">×</button>
            </div>
            <div class="modal-body" id="modalContent1">

            </div>
            <div class="modal-footer">
                
            </div>
        </div>

    </div>
</div>
@section Styles{
    <script type="text/javascript">       

        function Approve() {

            var atleastOneChecked = $('.myChk').is(':checked');

            if (atleastOneChecked) {
                var chksArr = $('.myChk');
                $.each(chksArr, function (index, item) {
                    if (item.checked) {
                        var index = item.dataset['index'];
                        $('#' + index + '_TotalAmtPaid').attr('required', 'required');
                    }
                });
            }
            
            if (!atleastOneChecked) {
                swal("Please Select the Checkbox which you want to approve");
            }
            else {
                if ($('#frm').valid()) {
                    $('#frm').submit();

                    swal({
                        title: "Saved Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                        function () {
                            $.loader({
                                className: "blue-with-image-2",
                                content: '',
                            });
                        })
                }
            }
        }


        function Reject() {
            $('.txtCss').removeAttr('required');
            var atleastOneChecked = $('.myChk').is(':checked');
            if (!atleastOneChecked) {
                swal("Please Select the Checkbox which you want to Reject");
            }
            else
            {
                if ($('#frm').valid()) {
                    $('#frm').attr('action','@Url.Content("~/PayRoll/RejectTravelClaim")')
                    $('#frm').submit();
                    swal({
                        title: "Rejected Successfully",
                        text: "",
                        closeOnConfirm: true,
                        confirmButtonText: "Ok",
                        confirmButtonClass: "btn-primary",
                        timer: 5000
                    },
                         function () {
                             $.loader({
                                 className: "blue-with-image-2",
                                 content: '',
                             });
                         })
                }
            }

            }
        function view(travelclaimid) {
            LoadingAnimation();
            $.ajax({
                url: '@Url.Content("~/PayRoll/PreviewTravelClaim?TravelClaimId=")' + travelclaimid,
                contentType: 'text/html',
                method: 'GET',
                success: function (data) {
                    StopLoadingAnimation();
                    $('#myPreviewModal').modal('show');
                    $('#modalContent1').html('');
                    $('#modalContent1').html(data);
                },
                error: function (err) {

                }
            });
        }
        $(function () {
            $('#li_claims').addClass('open');
            $('#li_TravelClaim').addClass('active');            

            /*
            $('.myChk').on('ifChanged', function (event) {
                debugger;
                var index = event.delegateTarget.dataset['index'];
                if (event.currentTarget.checked) {
                    $('#' + index + '_TotalAmtPaid').attr('required','required');
                } else {
                    $('#' + index + '_TotalAmtPaid').removeAttr('required');
                }
            });
            */
        });


    </script>


}



